node-red-flow-LumiCert.json
[
    {
        "id": "829727b6e7b7e807",
        "type": "tab",
        "label": "LumiCert API",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a789ff9edf460833",
        "type": "http in",
        "z": "829727b6e7b7e807",
        "name": "",
        "url": "/api/consumo/total-mes",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 100,
        "wires": [
            [
                "3448fbfe72fb6c28"
            ]
        ]
    },
    {
        "id": "3448fbfe72fb6c28",
        "type": "function",
        "z": "829727b6e7b7e807",
        "name": "Preparar Query",
        "func": "const now = new Date();\nconst year = now.getFullYear();\nconst month = now.getMonth() + 1;\nconst daysInMonth = new Date(year, month, 0).getDate();\nconst currentDay = now.getDate();\n\nflow.set('year', year);\nflow.set('month', month);\nflow.set('daysInMonth', daysInMonth);\nflow.set('currentDay', currentDay);\n\n// Query que maneja fechas con y sin timezone\nmsg.collection = 'medicion';\nmsg.payload = [\n    {\n        $addFields: {\n            fechaNormalizada: {\n                $cond: {\n                    if: { $regexMatch: { input: \"$fecha\", regex: \"Z$\" } },\n                    then: \"$fecha\",\n                    else: { $concat: [\"$fecha\", \"Z\"] }\n                }\n            }\n        }\n    },\n    {\n        $addFields: {\n            fechaDate: { \n                $dateFromString: { \n                    dateString: \"$fechaNormalizada\",\n                    onError: null\n                } \n            }\n        }\n    },\n    {\n        $match: {\n            fechaDate: { $ne: null }\n        }\n    },\n    {\n        $addFields: {\n            mes: { $month: \"$fechaDate\" },\n            anio: { $year: \"$fechaDate\" }\n        }\n    },\n    {\n        $match: {\n            mes: month,\n            anio: year\n        }\n    },\n    {\n        $group: {\n            _id: null,\n            totalConsumo: { $sum: \"$consumo\" },\n            count: { $sum: 1 }\n        }\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 100,
        "wires": [
            [
                "ceda4f4d60fe407a"
            ]
        ]
    },
    {
        "id": "ceda4f4d60fe407a",
        "type": "mongodb in",
        "z": "829727b6e7b7e807",
        "mongodb": "65016b8d41a78754",
        "name": "",
        "collection": "",
        "operation": "aggregate",
        "x": 640,
        "y": 100,
        "wires": [
            [
                "f68881b52f9e7637"
            ]
        ]
    },
    {
        "id": "f68881b52f9e7637",
        "type": "function",
        "z": "829727b6e7b7e807",
        "name": "Formatear Respuesta",
        "func": "const year = flow.get('year');\nconst month = flow.get('month');\nconst daysInMonth = flow.get('daysInMonth');\nconst currentDay = flow.get('currentDay');\n\nif (msg.payload && msg.payload.length > 0) {\n    const data = msg.payload[0];\n    const totalConsumo = data.totalConsumo || 0;\n    const promedioMes = totalConsumo / daysInMonth;\n    const promedioDiario = totalConsumo / currentDay;\n    \n    msg.payload = {\n        success: true,\n        data: {\n            consumoTotalMes: parseFloat(totalConsumo.toFixed(3)),\n            consumoPromedioDiario: parseFloat(promedioDiario.toFixed(3)),\n            consumoPromedioMes: parseFloat(promedioMes.toFixed(3)),\n            mes: month,\n            año: year,\n            diasTranscurridos: currentDay,\n            totalDiasMes: daysInMonth,\n            mediciones: data.count\n        }\n    };\n} else {\n    msg.payload = {\n        success: true,\n        data: {\n            consumoTotalMes: 0,\n            consumoPromedioDiario: 0,\n            consumoPromedioMes: 0,\n            mes: month,\n            año: year,\n            diasTranscurridos: currentDay,\n            totalDiasMes: daysInMonth,\n            mediciones: 0\n        }\n    };\n}\n\nmsg.statusCode = 200;\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'Access-Control-Allow-Origin': '*'\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 860,
        "y": 100,
        "wires": [
            [
                "36b87b70047a7682"
            ]
        ]
    },
    {
        "id": "36b87b70047a7682",
        "type": "http response",
        "z": "829727b6e7b7e807",
        "name": "",
        "x": 1090,
        "y": 100,
        "wires": []
    },
    {
        "id": "14f9227802fa93ad",
        "type": "http in",
        "z": "829727b6e7b7e807",
        "name": "",
        "url": "/api/sectores",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 160,
        "wires": [
            [
                "7fb44d59c7857807"
            ]
        ]
    },
    {
        "id": "7fb44d59c7857807",
        "type": "function",
        "z": "829727b6e7b7e807",
        "name": "Query Sectores",
        "func": "msg.collection = 'sector';\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 160,
        "wires": [
            [
                "b75a5b7a57b86282"
            ]
        ]
    },
    {
        "id": "b75a5b7a57b86282",
        "type": "mongodb in",
        "z": "829727b6e7b7e807",
        "mongodb": "65016b8d41a78754",
        "name": "",
        "collection": "",
        "operation": "find",
        "x": 600,
        "y": 160,
        "wires": [
            [
                "3f3c0a13e268ca52"
            ]
        ]
    },
    {
        "id": "3f3c0a13e268ca52",
        "type": "function",
        "z": "829727b6e7b7e807",
        "name": "Formatear",
        "func": "msg.payload = {\n    success: true,\n    data: msg.payload || []\n};\n\nmsg.statusCode = 200;\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'Access-Control-Allow-Origin': '*'\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 790,
        "y": 160,
        "wires": [
            [
                "5057480295440dd0"
            ]
        ]
    },
    {
        "id": "5057480295440dd0",
        "type": "http response",
        "z": "829727b6e7b7e807",
        "name": "",
        "x": 990,
        "y": 160,
        "wires": []
    },
    {
        "id": "03dbdeeae09492c3",
        "type": "http in",
        "z": "829727b6e7b7e807",
        "name": "",
        "url": "/api/luminarias",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 220,
        "wires": [
            [
                "4dad1c7c014507b5"
            ]
        ]
    },
    {
        "id": "4dad1c7c014507b5",
        "type": "function",
        "z": "829727b6e7b7e807",
        "name": "Query Luminarias",
        "func": "msg.collection = 'luminarias';\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 220,
        "wires": [
            [
                "8cf3212dc2f80696"
            ]
        ]
    },
    {
        "id": "8cf3212dc2f80696",
        "type": "mongodb in",
        "z": "829727b6e7b7e807",
        "mongodb": "65016b8d41a78754",
        "name": "",
        "collection": "",
        "operation": "find",
        "x": 610,
        "y": 220,
        "wires": [
            [
                "e485739ae4fc361f"
            ]
        ]
    },
    {
        "id": "e485739ae4fc361f",
        "type": "function",
        "z": "829727b6e7b7e807",
        "name": "Formatear",
        "func": "msg.payload = {\n    success: true,\n    data: msg.payload || [],\n    total: msg.payload ? msg.payload.length : 0\n};\n\nmsg.statusCode = 200;\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'Access-Control-Allow-Origin': '*'\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 800,
        "y": 220,
        "wires": [
            [
                "abf3b06c7b4879bb"
            ]
        ]
    },
    {
        "id": "abf3b06c7b4879bb",
        "type": "http response",
        "z": "829727b6e7b7e807",
        "name": "",
        "x": 1010,
        "y": 220,
        "wires": []
    },
    {
        "id": "970c5cf9a1e70a94",
        "type": "http in",
        "z": "829727b6e7b7e807",
        "name": "",
        "url": "/api/notificaciones",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 280,
        "wires": [
            [
                "4b5681b1d665a838"
            ]
        ]
    },
    {
        "id": "4b5681b1d665a838",
        "type": "function",
        "z": "829727b6e7b7e807",
        "name": "Query Notificaciones",
        "func": "msg.collection = 'notificacion';\nmsg.payload = {};\nmsg.limit = 10;\nmsg.sort = { fecha: -1 };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 280,
        "wires": [
            [
                "80dfc721c1cb233f"
            ]
        ]
    },
    {
        "id": "80dfc721c1cb233f",
        "type": "mongodb in",
        "z": "829727b6e7b7e807",
        "mongodb": "65016b8d41a78754",
        "name": "",
        "collection": "",
        "operation": "find",
        "x": 660,
        "y": 280,
        "wires": [
            [
                "8d5983425d9520fa"
            ]
        ]
    },
    {
        "id": "8d5983425d9520fa",
        "type": "function",
        "z": "829727b6e7b7e807",
        "name": "Formatear",
        "func": "const sortedData = (msg.payload || []).sort((a, b) => {\n    return new Date(b.fecha) - new Date(a.fecha);\n}).slice(0, 10);\n\nmsg.payload = {\n    success: true,\n    data: sortedData\n};\n\nmsg.statusCode = 200;\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'Access-Control-Allow-Origin': '*'\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 830,
        "y": 280,
        "wires": [
            [
                "bc14164f8145cd06"
            ]
        ]
    },
    {
        "id": "bc14164f8145cd06",
        "type": "http response",
        "z": "829727b6e7b7e807",
        "name": "",
        "x": 1050,
        "y": 280,
        "wires": []
    },
    {
        "id": "4710a2d4a682d402",
        "type": "http in",
        "z": "829727b6e7b7e807",
        "name": "",
        "url": "/api/estadisticas",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 340,
        "wires": [
            [
                "ed76c7a062c2f975"
            ]
        ]
    },
    {
        "id": "ed76c7a062c2f975",
        "type": "function",
        "z": "829727b6e7b7e807",
        "name": "Query Estadísticas",
        "func": "// Agregación para obtener última medición de cada luminaria\nmsg.collection = 'medicion';\nmsg.payload = [\n    {\n        $addFields: {\n            fechaNormalizada: {\n                $cond: {\n                    if: { $regexMatch: { input: \"$fecha\", regex: \"Z$\" } },\n                    then: \"$fecha\",\n                    else: { $concat: [\"$fecha\", \"Z\"] }\n                }\n            }\n        }\n    },\n    {\n        $addFields: {\n            fechaDate: { \n                $dateFromString: { \n                    dateString: \"$fechaNormalizada\",\n                    onError: null\n                } \n            }\n        }\n    },\n    {\n        $match: {\n            fechaDate: { $ne: null }\n        }\n    },\n    {\n        $sort: { id_luminaria: 1, fechaDate: -1 }\n    },\n    {\n        $group: {\n            _id: \"$id_luminaria\",\n            ultimaFalla: { $first: \"$falla\" },\n            ultimaFecha: { $first: \"$fechaDate\" }\n        }\n    },\n    {\n        $group: {\n            _id: null,\n            total: { $sum: 1 },\n            conFalla: {\n                $sum: {\n                    $cond: [{ $eq: [\"$ultimaFalla\", true] }, 1, 0]\n                }\n            }\n        }\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 340,
        "wires": [
            [
                "05b7a8795ced5513"
            ]
        ]
    },
    {
        "id": "05b7a8795ced5513",
        "type": "mongodb in",
        "z": "829727b6e7b7e807",
        "mongodb": "65016b8d41a78754",
        "name": "",
        "collection": "",
        "operation": "aggregate",
        "x": 590,
        "y": 340,
        "wires": [
            [
                "6683b96d9b4e8f32"
            ]
        ]
    },
    {
        "id": "6683b96d9b4e8f32",
        "type": "function",
        "z": "829727b6e7b7e807",
        "name": "Formatear Estadísticas",
        "func": "let total = 0;\nlet conProblemas = 0;\n\nif (msg.payload && msg.payload.length > 0) {\n    const data = msg.payload[0];\n    total = data.total || 0;\n    conProblemas = data.conFalla || 0;\n}\n\nconst funcionando = total - conProblemas;\n\nmsg.payload = {\n    success: true,\n    data: {\n        totalLuminarias: total,\n        luminariasFuncionando: funcionando,\n        luminariasConProblemas: conProblemas\n    }\n};\n\nmsg.statusCode = 200;\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'Access-Control-Allow-Origin': '*'\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 820,
        "y": 340,
        "wires": [
            [
                "af31122d120f1d13"
            ]
        ]
    },
    {
        "id": "af31122d120f1d13",
        "type": "http response",
        "z": "829727b6e7b7e807",
        "name": "",
        "x": 1050,
        "y": 340,
        "wires": []
    },
    {
        "id": "460f28282e557f67",
        "type": "http in",
        "z": "829727b6e7b7e807",
        "name": "",
        "url": "/api/consumo/mes-anterior",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 400,
        "wires": [
            [
                "63ab2a1848049fea"
            ]
        ]
    },
    {
        "id": "63ab2a1848049fea",
        "type": "function",
        "z": "829727b6e7b7e807",
        "name": "Query Mes Anterior",
        "func": "const now = new Date();\nconst lastMonth = now.getMonth() === 0 ? 12 : now.getMonth();\nconst lastYear = now.getMonth() === 0 ? now.getFullYear() - 1 : now.getFullYear();\n\nflow.set('lastMonth', lastMonth);\nflow.set('lastYear', lastYear);\n\nmsg.collection = 'medicion';\nmsg.payload = [\n    {\n        $addFields: {\n            fechaNormalizada: {\n                $cond: {\n                    if: { $regexMatch: { input: \"$fecha\", regex: \"Z$\" } },\n                    then: \"$fecha\",\n                    else: { $concat: [\"$fecha\", \"Z\"] }\n                }\n            }\n        }\n    },\n    {\n        $addFields: {\n            fechaDate: { \n                $dateFromString: { \n                    dateString: \"$fechaNormalizada\",\n                    onError: null\n                } \n            }\n        }\n    },\n    {\n        $match: {\n            fechaDate: { $ne: null }\n        }\n    },\n    {\n        $addFields: {\n            mes: { $month: \"$fechaDate\" },\n            anio: { $year: \"$fechaDate\" }\n        }\n    },\n    {\n        $match: {\n            mes: lastMonth,\n            anio: lastYear\n        }\n    },\n    {\n        $group: {\n            _id: null,\n            totalConsumo: { $sum: \"$consumo\" }\n        }\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 400,
        "wires": [
            [
                "2891fc5fe174958a"
            ]
        ]
    },
    {
        "id": "2891fc5fe174958a",
        "type": "mongodb in",
        "z": "829727b6e7b7e807",
        "mongodb": "65016b8d41a78754",
        "name": "",
        "collection": "",
        "operation": "aggregate",
        "x": 680,
        "y": 400,
        "wires": [
            [
                "8ce9778b927447b1"
            ]
        ]
    },
    {
        "id": "8ce9778b927447b1",
        "type": "function",
        "z": "829727b6e7b7e807",
        "name": "Formatear",
        "func": "const lastMonth = flow.get('lastMonth');\nconst lastYear = flow.get('lastYear');\n\nif (msg.payload && msg.payload.length > 0) {\n    msg.payload = {\n        success: true,\n        data: {\n            consumoMesAnterior: parseFloat(msg.payload[0].totalConsumo.toFixed(3)),\n            mes: lastMonth,\n            año: lastYear\n        }\n    };\n} else {\n    msg.payload = {\n        success: true,\n        data: {\n            consumoMesAnterior: 0,\n            mes: lastMonth,\n            año: lastYear\n        }\n    };\n}\n\nmsg.statusCode = 200;\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'Access-Control-Allow-Origin': '*'\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 850,
        "y": 400,
        "wires": [
            [
                "62e6489c546b4cb4"
            ]
        ]
    },
    {
        "id": "62e6489c546b4cb4",
        "type": "http response",
        "z": "829727b6e7b7e807",
        "name": "",
        "x": 1050,
        "y": 400,
        "wires": []
    },
    {
        "id": "1cd63be2408bf5d8",
        "type": "http in",
        "z": "829727b6e7b7e807",
        "name": "",
        "url": "/api/*",
        "method": "options",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 460,
        "wires": [
            [
                "dfc939b701c9dea2"
            ]
        ]
    },
    {
        "id": "dfc939b701c9dea2",
        "type": "function",
        "z": "829727b6e7b7e807",
        "name": "CORS Headers",
        "func": "msg.statusCode = 200;\nmsg.headers = {\n    'Access-Control-Allow-Origin': '*',\n    'Access-Control-Allow-Methods': 'GET, POST, PUT, DELETE, OPTIONS',\n    'Access-Control-Allow-Headers': 'Content-Type, Authorization'\n};\nmsg.payload = '';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 460,
        "wires": [
            [
                "62273a3648a972de"
            ]
        ]
    },
    {
        "id": "62273a3648a972de",
        "type": "http response",
        "z": "829727b6e7b7e807",
        "name": "",
        "x": 650,
        "y": 460,
        "wires": []
    },
    {
        "id": "http_consumo_diario",
        "type": "http in",
        "z": "829727b6e7b7e807",
        "name": "",
        "url": "/api/consumo/diario",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 520,
        "wires": [
            [
                "func_query_diario"
            ]
        ]
    },
    {
        "id": "func_query_diario",
        "type": "function",
        "z": "829727b6e7b7e807",
        "name": "Query Consumo Diario",
        "func": "const now = new Date();\nconst year = now.getFullYear();\nconst month = now.getMonth() + 1;\n\nmsg.collection = 'medicion';\nmsg.payload = [\n    {\n        $addFields: {\n            fechaNormalizada: {\n                $cond: {\n                    if: { $regexMatch: { input: \"$fecha\", regex: \"Z$\" } },\n                    then: \"$fecha\",\n                    else: { $concat: [\"$fecha\", \"Z\"] }\n                }\n            }\n        }\n    },\n    {\n        $addFields: {\n            fechaDate: { \n                $dateFromString: { \n                    dateString: \"$fechaNormalizada\",\n                    onError: null\n                } \n            }\n        }\n    },\n    {\n        $match: {\n            fechaDate: { $ne: null }\n        }\n    },\n    {\n        $addFields: {\n            mes: { $month: \"$fechaDate\" },\n            anio: { $year: \"$fechaDate\" },\n            dia: { $dayOfMonth: \"$fechaDate\" }\n        }\n    },\n    {\n        $match: {\n            mes: month,\n            anio: year\n        }\n    },\n    {\n        $group: {\n            _id: \"$dia\",\n            consumoTotal: { $sum: \"$consumo\" }\n        }\n    },\n    {\n        $sort: { _id: 1 }\n    },\n    {\n        $project: {\n            _id: 0,\n            dia: \"$_id\",\n            consumo: { $round: [\"$consumoTotal\", 3] }\n        }\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 520,
        "wires": [
            [
                "mongo_consumo_diario"
            ]
        ]
    },
    {
        "id": "mongo_consumo_diario",
        "type": "mongodb in",
        "z": "829727b6e7b7e807",
        "mongodb": "65016b8d41a78754",
        "name": "",
        "collection": "",
        "operation": "aggregate",
        "x": 680,
        "y": 520,
        "wires": [
            [
                "func_format_diario"
            ]
        ]
    },
    {
        "id": "func_format_diario",
        "type": "function",
        "z": "829727b6e7b7e807",
        "name": "Formatear Consumo Diario",
        "func": "msg.payload = {\n    success: true,\n    data: msg.payload || []\n};\n\nmsg.statusCode = 200;\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'Access-Control-Allow-Origin': '*'\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 920,
        "y": 520,
        "wires": [
            [
                "http_response_diario"
            ]
        ]
    },
    {
        "id": "http_response_diario",
        "type": "http response",
        "z": "829727b6e7b7e807",
        "name": "",
        "x": 1130,
        "y": 520,
        "wires": []
    },
    {
        "id": "65016b8d41a78754",
        "type": "mongodb",
        "hostname": "cluster0.gne8ies.mongodb.net",
        "topology": "dnscluster",
        "connectOptions": "",
        "port": "27017",
        "db": "LumiCert",
        "name": "MongoDB Atlas"
    },
    {
        "id": "e2f68b108e7c53f3",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-mongodb": "0.2.5"
        }
    },
    {
        "id": "http_consumo_hora",
        "type": "http in",
        "z": "829727b6e7b7e807",
        "name": "",
        "url": "/api/consumo/por-hora",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 900,
        "wires": [["func_query_hora"]]
    },
    {
        "id": "func_query_hora",
        "type": "function",
        "z": "829727b6e7b7e807",
        "name": "Query Consumo por Hora",
        "func": "msg.collection = 'medicion';\nmsg.payload = [\n    {\n        $addFields: {\n            fechaSplit: { $split: [\"$fecha\", \"T\"] }\n        }\n    },\n    {\n        $addFields: {\n            timePart: { $arrayElemAt: [\"$fechaSplit\", 1] }\n        }\n    },\n    {\n        $addFields: {\n            timeArray: { $split: [\"$timePart\", \":\"] }\n        }\n    },\n    {\n        $addFields: {\n            hora: { $toInt: { $arrayElemAt: [\"$timeArray\", 0] } }\n        }\n    },\n    {\n        $group: {\n            _id: \"$hora\",\n            totalConsumo: { $sum: \"$consumo\" },\n            count: { $sum: 1 }\n        }\n    },\n    {\n        $project: {\n            _id: 0,\n            hora: \"$_id\",\n            consumoPromedio: { $divide: [\"$totalConsumo\", \"$count\"] }\n        }\n    },\n    {\n        $sort: { hora: 1 }\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 900,
        "wires": [["mongo_consumo_hora"]]
    },
    {
        "id": "mongo_consumo_hora",
        "type": "mongodb in",
        "z": "829727b6e7b7e807",
        "mongodb": "65016b8d41a78754",
        "name": "",
        "collection": "",
        "operation": "aggregate",
        "x": 660,
        "y": 900,
        "wires": [["func_format_hora"]]
    },
    {
        "id": "func_format_hora",
        "type": "function",
        "z": "829727b6e7b7e807",
        "name": "Formatear Respuesta",
        "func": "msg.payload = {\n    success: true,\n    data: msg.payload\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 880,
        "y": 900,
        "wires": [["http_response_hora"]]
    },
    {
        "id": "http_response_hora",
        "type": "http response",
        "z": "829727b6e7b7e807",
        "name": "",
        "statusCode": "200",
        "headers": {
            "Access-Control-Allow-Origin": "*",
            "Content-Type": "application/json"
        },
        "x": 1090,
        "y": 900,
        "wires": []
    },
    {
        "id": "http_options_hora",
        "type": "http in",
        "z": "829727b6e7b7e807",
        "name": "",
        "url": "/api/consumo/por-hora",
        "method": "options",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 960,
        "wires": [["http_options_response_hora"]]
    },
    {
        "id": "http_options_response_hora",
        "type": "http response",
        "z": "829727b6e7b7e807",
        "name": "",
        "statusCode": "204",
        "headers": {
            "Access-Control-Allow-Origin": "*",
            "Access-Control-Allow-Methods": "GET, POST, PUT, DELETE, OPTIONS",
            "Access-Control-Allow-Headers": "Content-Type, Authorization"
        },
        "x": 450,
        "y": 960,
        "wires": []
    }
]