node-red-Flujo-LumiCert.json
[
    {
        "id": "f430733d2357ca62",
        "type": "tab",
        "label": "LumiCert Flujo",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bc687a255b6a6687",
        "type": "mqtt in",
        "z": "f430733d2357ca62",
        "name": "",
        "topic": "test",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "140301bcc7afc699",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 360,
        "wires": [
            [
                "be3a6065a46602ba"
            ]
        ]
    },
    {
        "id": "2b3488c1443f129b",
        "type": "function",
        "z": "f430733d2357ca62",
        "name": "data_extraction_luminary",
        "func": "//data_extraction_luminary\ntry {\n    const lux = msg.payload.lux;           \n    const fecha = msg.payload.ts_iso;                  \n    const alarmBh1 = msg.payload.alarms.bh1_fail;\n\n    const bancos = msg.payload.bank;\n\n    const var_ambiente = {\n            \"lux\": lux,\n            \"fecha\": fecha,\n            \"alarmBh1\": alarmBh1\n        }\n\n    let luminarias = msg.payload.luminarias.map(l => {\n        const luminariaID = l.id;\n        const nombreLuminaria = l.name;\n        const estadoRelay = l.relay;\n        const ok = l.ok;\n        const voltaje = l.V;\n        const corriente = l.mA; \n        const W = l.W;\n        const fail_low_current = l.fail_low_current;\n        const theft = l.theft   \n        const sobreconsumo = l.overcurrent;                                                                                  \n\n        return {\n                \"corriente\": corriente,\n                \"voltaje\": voltaje,\n                \"ok\": ok,\n                \"W\": W,\n                \"luminariaID\": luminariaID,\n                \"nombreLuminaria\": nombreLuminaria,\n                \"estadoRelay\": estadoRelay,\n                \"fail_low_current\": fail_low_current,\n                \"theft\": theft,\n                \"sobreconsumo\": sobreconsumo\n            }\n        }\n    );\n\n    msg.payload = {\n        \"var_ambiente\": var_ambiente,\n        \"luminarias\": luminarias,\n        \"banco\": bancos\n    }\n}\ncatch (error) {\n    msg.payload = {\n        \"Error\": error\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 420,
        "wires": [
            [
                "9a17c05496c3294c",
                "406f50146b53517d",
                "bee9fc22908c5bf9",
                "38097a4aba5b71b9",
                "e937696da1996c0e",
                "822a1bb9c4db4f5d",
                "c76137fb375e4a39",
                "3ee6cecc5d2ee03e"
            ]
        ]
    },
    {
        "id": "9a17c05496c3294c",
        "type": "function",
        "z": "f430733d2357ca62",
        "name": "json_medicion",
        "func": "//json_medicion\nconst var_ambiente = msg.payload.var_ambiente || {};\nlet fecha = var_ambiente.fecha || msg.payload.ts_iso || new Date();\n\n\nlet luminarias = msg.payload.luminarias.map(l => {\n    const luminariaID = l.luminariaID;\n    const nombreLuminaria = l.name;\n    const estadoRelay = l.estadoRelay;\n    const voltaje = l.voltaje;\n    const corriente = l.corriente;\n    const W = l.W;\n    const fail_low_current = l.fail_low_current;\n    const theft = l.theft\n    const sobreconsumo = l.sobreconsumo\n\n    return {\n        \"id_luminaria\": luminariaID,\n        \"fecha\": fecha,\n        \"consumo\": (W*30)/3600,\n        \"estado_rele\": estadoRelay,\n        \"perdida_energia\": theft,\n        \"falla\": fail_low_current,\n        \"sobreconsumo\": sobreconsumo,\n        \"corriente\": corriente,\n        \"voltaje\": voltaje,\n    }\n})\n\nmsg.payload = {\n    \"luminarias\": luminarias\n    }\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 420,
        "wires": [
            [
                "2b9713d4a73bc004"
            ]
        ]
    },
    {
        "id": "406f50146b53517d",
        "type": "function",
        "z": "f430733d2357ca62",
        "name": "json_sector",
        "func": "//json_sector\nlet luminarias = msg.payload.luminarias.map(l => {\n    const luminariaID = l.luminariaID;\n    return luminariaID\n});\n\nmsg.payload = {\n    \"nombre_sector\": \"Valle del Lili\",\n    \"direccion\": [\n        52,\n        -27\n    ],\n    \"luminarias\": luminarias\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "bee9fc22908c5bf9",
        "type": "function",
        "z": "f430733d2357ca62",
        "name": "json_notificacion",
        "func": "//json_notificacion\ntry {\n\n    const fecha = msg.payload.var_ambiente.fecha;                  \n    let luminarias = msg.payload.luminarias.map(l => {\n        const luminariaID = l.id;\n        return luminariaID\n    });\n\n    msg.payload = {\n        \"id_luminaria\": luminarias,\n        \"fecha\": fecha,\n        \"descripcion\": null\n    }\n}\ncatch (error) {\n    msg.payload = {\n        \"Error\": error\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "38097a4aba5b71b9",
        "type": "function",
        "z": "f430733d2357ca62",
        "name": "json_reporte_usuario",
        "func": "//json_reporte_usuario\ntry {\n    const fecha = msg.payload.var_ambiente.fecha;                  \n\n    msg.payload = {\n        \"fecha\": fecha,\n        \"descripcion\": null\n    }\n}\ncatch (error) {\n    msg.payload = {\n        \"Error\": error\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "e937696da1996c0e",
        "type": "function",
        "z": "f430733d2357ca62",
        "name": "json_reporte_mes",
        "func": "//json_reporte_mes\ntry {\n\n    let fecha = msg.payload.var_ambiente.fecha;\n    fecha = new Date(fecha);                \n    const mes = fecha.getMonth() + 1;\n\n    msg.payload = {\n        \"mes\": mes\n    }\n}\ncatch (error) {\n    msg.payload = {\n        \"Error\": error.message\n    }\n}\n\nreturn msg;\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "2b9713d4a73bc004",
        "type": "split",
        "z": "f430733d2357ca62",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 870,
        "y": 540,
        "wires": [
            [
                "fb2a0fb91dcbbde3"
            ]
        ]
    },
    {
        "id": "be3a6065a46602ba",
        "type": "json",
        "z": "f430733d2357ca62",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 310,
        "y": 360,
        "wires": [
            [
                "2b3488c1443f129b"
            ]
        ]
    },
    {
        "id": "822a1bb9c4db4f5d",
        "type": "function",
        "z": "f430733d2357ca62",
        "name": "validar_luz_dia_noche",
        "func": "// validar_luz_dia_noche\nconst lux = msg.payload.lux || msg.payload.var_ambiente?.lux || 0;\n\nif (lux > 200) {\n    msg.payload = { mensaje: \"Es de dia\", prender: false };\n} else {\n    msg.payload = { mensaje: \"Es de noche\", prender: true };\n}\n\nmsg.topic = \"tiempo\"; // Tópico de salida al broker MQTT\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 360,
        "wires": [
            [
                "012417af75206663"
            ]
        ]
    },
    {
        "id": "012417af75206663",
        "type": "mqtt out",
        "z": "f430733d2357ca62",
        "name": "Enviar notificación",
        "topic": "notificacion",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "140301bcc7afc699",
        "x": 910,
        "y": 360,
        "wires": []
    },
    {
        "id": "c76137fb375e4a39",
        "type": "function",
        "z": "f430733d2357ca62",
        "name": "validar_sobreconsumo",
        "func": "const { luminarias } = msg.payload  \n\nconst luminaria = luminarias[0]\n\nif(luminaria.voltaje > 2) {\n    msg.payload = {\n        mensaje: `hay sobreconsumo en el nodo: ${luminaria.luminariaID}`, \n        sobreconsumo: true\n    }\n    return msg\n}\nreturn msg",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 300,
        "wires": [
            [
                "012417af75206663",
                "15a68664f595d9ac"
            ]
        ]
    },
    {
        "id": "15a68664f595d9ac",
        "type": "function",
        "z": "f430733d2357ca62",
        "name": "registrar_notificacion_sobreconsumo",
        "func": "// Guarda notificación cuando una luminaria presenta 3 sobreconsumos consecutivos\n// Usa context para almacenar contadores temporales\n\nlet luminarias = msg.payload.luminarias || [];\nif (!Array.isArray(luminarias) || luminarias.length === 0) return null;\n\nconst now = new Date();\nconst notificaciones = [];\n\nluminarias.forEach(l => {\n    const id = l.luminariaID || l.id_luminaria;\n    const sobreconsumo = l.sobreconsumo === true || l.overcurrent === true;\n\n    // Obtener contador previo del contexto\n    let contador = context.get(id) || 0;\n\n    if (sobreconsumo) {\n        contador++;\n        context.set(id, contador);\n\n        // Si llegó a 3, generar notificación\n        if (contador >= 3) {\n            const notificacion = {\n                id_notificacion: new Date().getTime().toString(),\n                id_luminaria: id,\n                fecha: now.toISOString(),\n                descripcion: `⚠️ Luminaria ${id} en sobreconsumo por mucho tiempo`\n            };\n            notificaciones.push(notificacion);\n\n            // Reiniciar contador después de registrar\n            context.set(id, 0);\n        }\n    } else {\n        // Reinicia si ya no hay sobreconsumo\n        context.set(id, 0);\n    }\n});\n\nif (notificaciones.length > 0) {\n    msg.payload = notificaciones;\n    return msg;\n} else {\n    return null; // No enviar nada si no hay alertas\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 240,
        "wires": [
            [
                "8d2ec909165d903f"
            ]
        ]
    },
    {
        "id": "3ee6cecc5d2ee03e",
        "type": "function",
        "z": "f430733d2357ca62",
        "name": "validar_bajo_consumo",
        "func": "// detectar luminarias en bajo consumo consecutivo\nlet luminarias = msg.payload.luminarias || [];\nif (!Array.isArray(luminarias) || luminarias.length === 0) return null;\n\nconst now = new Date();\nconst alertas = [];\n\nluminarias.forEach(l => {\n    const id = l.luminariaID || l.id_luminaria;\n    const bajo = (l.W !== undefined && l.W < 10) || (l.consumo !== undefined && l.consumo < 0.1); // umbral configurable\n\n    let contador = context.get(id) || 0;\n\n    if (bajo) {\n        contador++;\n        context.set(id, contador);\n\n        if (contador >= 3) {\n            alertas.push({ id_luminaria: id, fecha: now.toISOString(), descripcion: `⚠️ Luminaria ${id} en bajo consumo por mucho tiempo` });\n            context.set(id, 0);\n        }\n    } else {\n        context.set(id, 0);\n    }\n});\n\nif (alertas.length > 0) {\n    msg.payload = { alertas };\n    return [msg, null]; // sale por la primera salida para notificación\n}\n\nreturn [null, msg]; // sale por la segunda si no hay alertas",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 140,
        "wires": [
            [
                "2115e914737d9985",
                "4ff7855c34dd5c84"
            ],
            []
        ]
    },
    {
        "id": "4ff7855c34dd5c84",
        "type": "mqtt out",
        "z": "f430733d2357ca62",
        "name": "Enviar notificación MQTT (bajo consumo)",
        "topic": "notificacion",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "140301bcc7afc699",
        "x": 1220,
        "y": 160,
        "wires": []
    },
    {
        "id": "a52442e8f7be21a2",
        "type": "inject",
        "z": "f430733d2357ca62",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"processed\": {\"$ne\": true}}",
        "payloadType": "json",
        "x": 140,
        "y": 720,
        "wires": [
            [
                "0fb19a561215cfb5",
                "ffd2eac30d1769db",
                "23f8bab9802c989c"
            ]
        ]
    },
    {
        "id": "0154dc2cef046c99",
        "type": "function",
        "z": "f430733d2357ca62",
        "name": "reformateo_fechas",
        "func": "let data_mediciones = msg.payload;\nmsg.topic = \"mediciones\";\nlet ids_to_tru = data_mediciones.map(\n    (id) => id._id\n);\n\ntry {\n    const validacion_fechas = (fecha) => {\n        const fecha_actual = new Date();\n\n        if (!fecha || isNaN(new Date(fecha).getTime())) {\n            return fecha_actual;\n        }\n\n        fecha = new Date(fecha);\n\n        let day = fecha.getDate();\n        let month = fecha.getMonth();\n        let year = fecha.getFullYear();\n\n        let curr_day = fecha_actual.getDate();\n        let curr_month = fecha_actual.getMonth();\n        let curr_year = fecha_actual.getFullYear();\n\n        if (fecha < new Date('2025-01-01')) {\n            if (curr_day > day) fecha.setDate(curr_day);\n            if (curr_month > month) fecha.setMonth(curr_month);\n            if (curr_year > year) fecha.setFullYear(curr_year);\n        } else if (fecha > fecha_actual) {\n            if (curr_day < day) fecha.setDate(curr_day);\n            if (curr_month < month) fecha.setMonth(curr_month);\n            if (curr_year < year) fecha.setFullYear(curr_year);\n        }\n\n        return fecha;\n    };\n\n    data_mediciones = data_mediciones.map(\n        (x) => {\n            x.fecha = validacion_fechas(x.fecha);\n            return x\n        }\n    );\n\n    msg.payload = data_mediciones;\n}\ncatch (error) {\n    msg.payload = error\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 720,
        "wires": [
            [
                "e7dd09b0d3c752e7",
                "d3f69ea41a66c047",
                "7d65cfc0450702a6"
            ]
        ]
    },
    {
        "id": "44e7a72f52ad132f",
        "type": "function",
        "z": "f430733d2357ca62",
        "name": "data_luminarias",
        "func": "let data_mediciones = msg.payload.mediciones;\nlet luminarias_procesadas = msg.payload.luminarias_procesadas;\n\ntry {\n    let luminarias_unique = new Set();\n    data_mediciones.forEach(\n        (ele) => {\n            luminarias_unique.add(ele.id_luminaria);\n        }\n    );\n    \n    let luminarias = [...luminarias_unique]\n\n    if (luminarias_procesadas.length == 0) {\n        let luminarias_nuevas = luminarias.map(\n            (lum) => ({'id_lum': `lum_${lum}`, 'id_sector': null})\n        );\n\n        msg.payload = luminarias_nuevas;\n        return msg;\n    };\n\n    // FIX: Filter only NEW luminarias that are NOT in the database\n    let luminarias_nuevas = luminarias.filter(\n        (lum) => !luminarias_procesadas.includes(`lum_${lum}`)\n    );\n\n    if (luminarias_nuevas.length === 0) {\n        return null;\n    }\n\n    luminarias_nuevas = luminarias_nuevas.map(\n        (lum) => ({'id_lum': `lum_${lum}`, 'id_sector': null})\n    );\n\n    msg.payload = luminarias_nuevas;\n} catch (error) {\n    return null;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 760,
        "wires": [
            [
                "42a3e939f24aa2d4",
                "4b9530060dc038e3"
            ]
        ]
    },
    {
        "id": "77a1f45a6dc3522d",
        "type": "function",
        "z": "f430733d2357ca62",
        "name": "luminarias_procesadas",
        "func": "let data_mediciones = msg.payload;\nmsg.topic = \"luminarias_procesadas\";\ntry{\n    let luminarias = data_mediciones.map(\n        (ele) => ele.id_lum\n    );\n\n    msg.payload = luminarias;\n} catch (error) {\n    msg.payload = [];\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 800,
        "wires": [
            [
                "d3f69ea41a66c047"
            ]
        ]
    },
    {
        "id": "d3f69ea41a66c047",
        "type": "join",
        "z": "f430733d2357ca62",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 790,
        "y": 760,
        "wires": [
            [
                "44e7a72f52ad132f"
            ]
        ]
    },
    {
        "id": "5542b43428096cae",
        "type": "function",
        "z": "f430733d2357ca62",
        "name": "consumo_mensual",
        "func": "let consumo_mensual = msg.payload;\nmsg.topic = \"consumo_mensual\";\ntry {\n    msg.payload = consumo_mensual;\n} catch (error) {\n    return null;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 640,
        "wires": [
            [
                "e7dd09b0d3c752e7"
            ]
        ]
    },
    {
        "id": "95a7055f59f42c9d",
        "type": "function",
        "z": "f430733d2357ca62",
        "name": "data_consumo_mensual",
        "func": "let consumo_mensual = msg.payload.consumo_mensual;\n\nlet dataToProcess = msg.payload.mediciones;\nlet idsTrue = dataToProcess.map(\n    (x) => x._id\n);\n\ntry {\n    let dataGroupedId = {};\n    let lum;\n\n    for (let luminarias = 0; luminarias < dataToProcess.length; luminarias++) {\n        lum = dataToProcess[luminarias];\n        let id_lum = `lum_${lum['id_luminaria']}`\n\n        if (!dataGroupedId[id_lum]) {\n            dataGroupedId[id_lum] = []\n        }\n        dataGroupedId[id_lum].push(lum);\n    }\n\n    let keyLum = Object.keys(dataGroupedId);\n    let lumYear = {};\n\n    keyLum.forEach(lum => {\n        let lumGroup = dataGroupedId[lum];\n        let yearsGrouped = {};\n\n        for (let i = 0; i < lumGroup.length; i++) {\n            let date = new Date(lumGroup[i]['fecha'])\n            let year = date.getFullYear();\n            let year_id = `year_${year}`\n\n            if (!yearsGrouped[year_id]) {\n                yearsGrouped[year_id] = [];\n                yearsGrouped[year_id].push(lumGroup[i])\n\n            } else {\n                yearsGrouped[year_id].push(lumGroup[i])\n            }\n        }\n\n        lumYear[lum] = yearsGrouped;\n    })\n\n    let groupedLums = {}\n\n    keyLum.forEach(lum => {\n        let lumById = lumYear[lum]\n        let keyYears = Object.keys(lumById)\n        let years = {}\n\n        keyYears.forEach(year => {\n            let yearGrouped = lumById[year]\n            let months = {};\n\n            for (let m = 0; m < yearGrouped.length; m++) {\n                let date = new Date(yearGrouped[m]['fecha']);\n                let month = date.getMonth();\n                let idMonth = `month_${month}`\n\n                if (!months[idMonth]) {\n                    months[idMonth] = []\n                    months[idMonth].push(yearGrouped[m])\n                } else {\n                    months[idMonth].push(yearGrouped[m])\n                }\n            }\n\n            years[year] = months;\n        })\n\n        groupedLums[lum] = years;\n    })\n\n\n    let consumoLuminarias = [];\n    let lums_id = Object.keys(groupedLums);\n\n    lums_id.forEach(lumKey => {\n        let luminaria = groupedLums[lumKey];\n        let years_id = Object.keys(luminaria);\n\n        years_id.forEach(yearKey => {\n            let year = luminaria[yearKey]\n            let months_id = Object.keys(year)\n\n            months_id.forEach(monthKey =>{\n                let month = year[monthKey]\n\n                let consumo = month.reduce(\n                    (acc, obj) => acc + obj['consumo'], \n                    0\n                )\n\n                let consumoLum = {}\n\n                consumoLum['id_lum'] = lumKey;\n                consumoLum['id_year'] = yearKey;\n                consumoLum['id_month'] = monthKey;\n                consumoLum['consumoMensual'] = consumo;\n\n                consumoLuminarias.push(consumoLum);\n            })\n        })\n    })\n\n    msg.payload = {\n        'consumo_procesado': consumoLuminarias,\n        'consumo_mensual': consumo_mensual,\n        'ids_true': idsTrue\n    };\n\n} catch (error) {\n    return null;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 680,
        "wires": [
            [
                "26ed358279a5675a"
            ]
        ]
    },
    {
        "id": "e7dd09b0d3c752e7",
        "type": "join",
        "z": "f430733d2357ca62",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 790,
        "y": 680,
        "wires": [
            [
                "95a7055f59f42c9d"
            ]
        ]
    },
    {
        "id": "26ed358279a5675a",
        "type": "function",
        "z": "f430733d2357ca62",
        "name": "actualizar_consumo",
        "func": "let consumo_mensual = msg.payload.consumo_mensual || [];\nlet consumo_procesado = msg.payload.consumo_procesado || [];\nlet ids_true = msg.payload.ids_true || [];\n\nif (!Array.isArray(consumo_procesado) || consumo_procesado.length === 0) {\n    return null;\n}\n\nlet existingKeys = new Set();\nconsumo_mensual.forEach(doc => {\n    existingKeys.add(`${doc.id_lum}|${doc.id_year}|${doc.id_month}`);\n});\n\nlet insert = [];\nlet update = [];\n\nconsumo_procesado.forEach(nuevo => {\n    const key = `${nuevo.id_lum}|${nuevo.id_year}|${nuevo.id_month}`;\n    const consumo = nuevo.consumoMensual || 0;\n\n    if (existingKeys.has(key)) {\n        update.push({\n            filter: {\n                id_lum: nuevo.id_lum,\n                id_year: nuevo.id_year,\n                id_month: nuevo.id_month\n            },\n            update: { $inc: { consumoMensual: consumo } }\n        });\n    } else {\n        insert.push({\n            id_lum: nuevo.id_lum,\n            id_year: nuevo.id_year,\n            id_month: nuevo.id_month,\n            consumoMensual: consumo\n        });\n    }\n});\n\nlet markProcessed = null;\nif (Array.isArray(ids_true) && ids_true.length > 0) {\n    markProcessed = {\n        filter: { _id: { $in: ids_true } },\n        update: { $set: { processed: true } }\n    };\n}\n\nmsg.payload = {\n    insert: insert,\n    update: update,\n    markProcessed: markProcessed\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 680,
        "wires": [
            [
                "3531d8785abd24da",
                "34a7faea215fed46",
                "4b9530060dc038e3"
            ]
        ]
    },
    {
        "id": "3531d8785abd24da",
        "type": "function",
        "z": "f430733d2357ca62",
        "name": "insert_consumo",
        "func": "let consumo_insert = msg.payload.insert;\ntry {\n    if (consumo_insert.length === 0) return null;\n    msg.payload = consumo_insert;\n} catch (error) {\n    return null;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1520,
        "y": 660,
        "wires": [
            [
                "261ceafede3ec322"
            ]
        ]
    },
    {
        "id": "34a7faea215fed46",
        "type": "function",
        "z": "f430733d2357ca62",
        "name": "update_consumo",
        "func": "let consumo_mensual = msg.payload.consumo_mensual || [];\nlet consumo_procesado = msg.payload.consumo_procesado || [];\nlet ids_true = msg.payload.ids_true;\n\nif (!Array.isArray(consumo_procesado) || consumo_procesado.length === 0) {\n    return null;\n}\n\nlet existingKeys = new Set();\nconsumo_mensual.forEach(doc => {\n    existingKeys.add(`${doc.id_lum}|${doc.id_year}|${doc.id_month}`);\n});\n\nlet insert = [];\nlet update = [];\n\nconsumo_procesado.forEach(nuevo => {\n    const key = `${nuevo.id_lum}|${nuevo.id_year}|${nuevo.id_month}`;\n    const consumo = nuevo.consumoMensual || 0;\n\n    if (existingKeys.has(key)) {\n        update.push({\n            filter: {\n                id_lum: nuevo.id_lum,\n                id_year: nuevo.id_year,\n                id_month: nuevo.id_month\n            },\n            update: { $inc: { consumoMensual: consumo } }\n        });\n    } else {\n        insert.push({\n            id_lum: nuevo.id_lum,\n            id_year: nuevo.id_year,\n            id_month: nuevo.id_month,\n            consumoMensual: consumo\n        });\n    }\n});\n\nmsg.payload = { insert, update };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1530,
        "y": 720,
        "wires": [
            [
                "a49dd2238fe134cb"
            ]
        ]
    },
    {
        "id": "766192681b393a9d",
        "type": "function",
        "z": "f430733d2357ca62",
        "name": "function 1",
        "func": "msg.query = msg.payload.filter;\nmsg.update = msg.payload.update;\ndelete msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1860,
        "y": 720,
        "wires": [
            [
                "6f20205be68247e1"
            ]
        ]
    },
    {
        "id": "a49dd2238fe134cb",
        "type": "split",
        "z": "f430733d2357ca62",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 1710,
        "y": 720,
        "wires": [
            [
                "766192681b393a9d"
            ]
        ]
    },
    {
        "id": "fb2a0fb91dcbbde3",
        "type": "mongodb out",
        "z": "f430733d2357ca62",
        "mongodb": "bdc4e5f59c664d63",
        "name": "LumiCertDBB",
        "collection": "medicion",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 1100,
        "y": 520,
        "wires": []
    },
    {
        "id": "8d2ec909165d903f",
        "type": "mongodb out",
        "z": "f430733d2357ca62",
        "mongodb": "bdc4e5f59c664d63",
        "name": "Guardar notificación sobreconsumo",
        "collection": "notificacion",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 1300,
        "y": 240,
        "wires": []
    },
    {
        "id": "2115e914737d9985",
        "type": "mongodb out",
        "z": "f430733d2357ca62",
        "mongodb": "bdc4e5f59c664d63",
        "name": "Guardar notificacion bajo consumo",
        "collection": "notificacion",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 1200,
        "y": 100,
        "wires": []
    },
    {
        "id": "42a3e939f24aa2d4",
        "type": "mongodb out",
        "z": "f430733d2357ca62",
        "mongodb": "bdc4e5f59c664d63",
        "name": "luminarias",
        "collection": "luminarias",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 1170,
        "y": 760,
        "wires": []
    },
    {
        "id": "261ceafede3ec322",
        "type": "mongodb out",
        "z": "f430733d2357ca62",
        "mongodb": "bdc4e5f59c664d63",
        "name": "consumo_mensual_insert",
        "collection": "consumo_mensual",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 1770,
        "y": 660,
        "wires": []
    },
    {
        "id": "6f20205be68247e1",
        "type": "mongodb out",
        "z": "f430733d2357ca62",
        "mongodb": "bdc4e5f59c664d63",
        "name": "consumo_mensual_update",
        "collection": "consumo_mensual",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "update",
        "x": 2080,
        "y": 720,
        "wires": []
    },
    {
        "id": "0fb19a561215cfb5",
        "type": "mongodb in",
        "z": "f430733d2357ca62",
        "mongodb": "bdc4e5f59c664d63",
        "name": "medicion",
        "collection": "medicion1",
        "operation": "find",
        "x": 360,
        "y": 720,
        "wires": [
            [
                "0154dc2cef046c99"
            ]
        ]
    },
    {
        "id": "23f8bab9802c989c",
        "type": "mongodb in",
        "z": "f430733d2357ca62",
        "mongodb": "bdc4e5f59c664d63",
        "name": "consumo_mensual",
        "collection": "consumo_mensual",
        "operation": "find",
        "x": 390,
        "y": 640,
        "wires": [
            [
                "5542b43428096cae"
            ]
        ]
    },
    {
        "id": "ffd2eac30d1769db",
        "type": "mongodb in",
        "z": "f430733d2357ca62",
        "mongodb": "bdc4e5f59c664d63",
        "name": "luminarias",
        "collection": "luminarias",
        "operation": "find",
        "x": 370,
        "y": 800,
        "wires": [
            [
                "77a1f45a6dc3522d"
            ]
        ]
    },
    {
        "id": "4b9530060dc038e3",
        "type": "debug",
        "z": "f430733d2357ca62",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 840,
        "wires": []
    },
    {
        "id": "7d65cfc0450702a6",
        "type": "split",
        "z": "f430733d2357ca62",
        "name": "split medicion1",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 920,
        "y": 920,
        "wires": [
            [
                "1bdb6956ba24e43d"
            ]
        ]
    },
    {
        "id": "1bdb6956ba24e43d",
        "type": "function",
        "z": "f430733d2357ca62",
        "name": "build_update_medicion1",
        "func": "// build_update_medicion1 — para node-red-node-mongodb (oficial)\nconst doc = msg.payload;\nif (!doc || !doc._id || !doc.fecha) {\n  node.warn(\"Falta _id o fecha en el documento\");\n  return null;\n}\n\n// Filtro por _id\nmsg.query = { _id: doc._id };      // si tu _id es string, activa 'Use MongoDB ObjectId' en el nodo out\n\n// Documento de UPDATE (¡va en msg.payload!)\nmsg.payload = { $set: { fecha: new Date(doc.fecha) } };\n\n// Opcional: si tus fechas vienen como \"DD/MM/YYYY\", parsea tú:\n// const [d,m,y] = doc.fecha.split('/'); msg.payload = { $set: { fecha: new Date(`${y}-${m}-${d}T00:00:00Z`) } };\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "5291ed7581ba0f73",
        "type": "mongodb out",
        "z": "f430733d2357ca62",
        "mongodb": "bdc4e5f59c664d63",
        "name": "medicion1_update",
        "collection": "medicion1",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 1430,
        "y": 920,
        "wires": []
    },
    {
        "id": "140301bcc7afc699",
        "type": "mqtt-broker",
        "name": "LumiCert",
        "broker": "lac46cb4.ala.us-east-1.emqxsl.com",
        "port": "8883",
        "tls": "049e5d4251774512",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "bdc4e5f59c664d63",
        "type": "mongodb",
        "hostname": "cluster0.gne8ies.mongodb.net",
        "topology": "dnscluster",
        "connectOptions": "",
        "port": 27017,
        "db": "LumiCert",
        "name": "LumiCertDB"
    },
    {
        "id": "049e5d4251774512",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "emqxsl-ca.crt",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "0ac2dc53c553915c",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-mongodb": "0.2.5"
        }
    }
]