node-red-API-LumiCert.json
[
    {
        "id": "66ffc1367c7a49aa",
        "type": "tab",
        "label": "LumiCert API",
        "disabled": false,
        "info": ""
    },
    {
        "id": "029e35fc7d5eb4b6",
        "type": "http in",
        "z": "66ffc1367c7a49aa",
        "name": "",
        "url": "/api/consumo/total-mes",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 100,
        "wires": [
            [
                "c83b96c2385dc683"
            ]
        ]
    },
    {
        "id": "c83b96c2385dc683",
        "type": "function",
        "z": "66ffc1367c7a49aa",
        "name": "Preparar Query",
        "func": "const now = new Date();\nconst year = now.getFullYear();\nconst month = now.getMonth() + 1;\nconst daysInMonth = new Date(year, month, 0).getDate();\nconst currentDay = now.getDate();\n\nflow.set('year', year);\nflow.set('month', month);\nflow.set('daysInMonth', daysInMonth);\nflow.set('currentDay', currentDay);\n\n// Query que maneja fechas con y sin timezone\nmsg.collection = 'medicion';\nmsg.payload = [\n    {\n        $addFields: {\n            fechaNormalizada: {\n                $cond: {\n                    if: { $regexMatch: { input: \"$fecha\", regex: \"Z$\" } },\n                    then: \"$fecha\",\n                    else: { $concat: [\"$fecha\", \"Z\"] }\n                }\n            }\n        }\n    },\n    {\n        $addFields: {\n            fechaDate: { \n                $dateFromString: { \n                    dateString: \"$fechaNormalizada\",\n                    onError: null\n                } \n            }\n        }\n    },\n    {\n        $match: {\n            fechaDate: { $ne: null }\n        }\n    },\n    {\n        $addFields: {\n            mes: { $month: \"$fechaDate\" },\n            anio: { $year: \"$fechaDate\" }\n        }\n    },\n    {\n        $match: {\n            mes: month,\n            anio: year\n        }\n    },\n    {\n        $group: {\n            _id: null,\n            totalConsumo: { $sum: \"$consumo\" },\n            count: { $sum: 1 }\n        }\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 100,
        "wires": [
            [
                "44e94c1ad656eaea"
            ]
        ]
    },
    {
        "id": "44e94c1ad656eaea",
        "type": "mongodb in",
        "z": "66ffc1367c7a49aa",
        "mongodb": "65016b8d41a78754",
        "name": "",
        "collection": "",
        "operation": "aggregate",
        "x": 640,
        "y": 100,
        "wires": [
            [
                "46da679f149c157a"
            ]
        ]
    },
    {
        "id": "46da679f149c157a",
        "type": "function",
        "z": "66ffc1367c7a49aa",
        "name": "Formatear Respuesta",
        "func": "const year = flow.get('year');\nconst month = flow.get('month');\nconst daysInMonth = flow.get('daysInMonth');\nconst currentDay = flow.get('currentDay');\n\nif (msg.payload && msg.payload.length > 0) {\n    const data = msg.payload[0];\n    const totalConsumo = data.totalConsumo || 0;\n    const promedioMes = totalConsumo / daysInMonth;\n    const promedioDiario = totalConsumo / currentDay;\n    \n    msg.payload = {\n        success: true,\n        data: {\n            consumoTotalMes: parseFloat(totalConsumo.toFixed(3)),\n            consumoPromedioDiario: parseFloat(promedioDiario.toFixed(3)),\n            consumoPromedioMes: parseFloat(promedioMes.toFixed(3)),\n            mes: month,\n            año: year,\n            diasTranscurridos: currentDay,\n            totalDiasMes: daysInMonth,\n            mediciones: data.count\n        }\n    };\n} else {\n    msg.payload = {\n        success: true,\n        data: {\n            consumoTotalMes: 0,\n            consumoPromedioDiario: 0,\n            consumoPromedioMes: 0,\n            mes: month,\n            año: year,\n            diasTranscurridos: currentDay,\n            totalDiasMes: daysInMonth,\n            mediciones: 0\n        }\n    };\n}\n\nmsg.statusCode = 200;\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'Access-Control-Allow-Origin': '*'\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 860,
        "y": 100,
        "wires": [
            [
                "30c0cab25f0b085a"
            ]
        ]
    },
    {
        "id": "30c0cab25f0b085a",
        "type": "http response",
        "z": "66ffc1367c7a49aa",
        "name": "",
        "x": 1090,
        "y": 100,
        "wires": []
    },
    {
        "id": "305993d852a3ae2c",
        "type": "http in",
        "z": "66ffc1367c7a49aa",
        "name": "",
        "url": "/api/sectores",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 160,
        "wires": [
            [
                "4776b0a189b60a76"
            ]
        ]
    },
    {
        "id": "4776b0a189b60a76",
        "type": "function",
        "z": "66ffc1367c7a49aa",
        "name": "Query Sectores",
        "func": "msg.collection = 'sector';\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 160,
        "wires": [
            [
                "05c52cc5bdfe3606"
            ]
        ]
    },
    {
        "id": "05c52cc5bdfe3606",
        "type": "mongodb in",
        "z": "66ffc1367c7a49aa",
        "mongodb": "65016b8d41a78754",
        "name": "",
        "collection": "",
        "operation": "find",
        "x": 600,
        "y": 160,
        "wires": [
            [
                "8f0628be4c8d44fe"
            ]
        ]
    },
    {
        "id": "8f0628be4c8d44fe",
        "type": "function",
        "z": "66ffc1367c7a49aa",
        "name": "Formatear",
        "func": "msg.payload = {\n    success: true,\n    data: msg.payload || []\n};\n\nmsg.statusCode = 200;\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'Access-Control-Allow-Origin': '*'\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 790,
        "y": 160,
        "wires": [
            [
                "9261cd59ba80a38f"
            ]
        ]
    },
    {
        "id": "9261cd59ba80a38f",
        "type": "http response",
        "z": "66ffc1367c7a49aa",
        "name": "",
        "x": 990,
        "y": 160,
        "wires": []
    },
    {
        "id": "7e22e4dca0fec753",
        "type": "http in",
        "z": "66ffc1367c7a49aa",
        "name": "",
        "url": "/api/luminarias",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 220,
        "wires": [
            [
                "fc7f0255373b4abd"
            ]
        ]
    },
    {
        "id": "fc7f0255373b4abd",
        "type": "function",
        "z": "66ffc1367c7a49aa",
        "name": "Query Luminarias",
        "func": "msg.collection = 'luminarias';\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 220,
        "wires": [
            [
                "522f614ad1385304"
            ]
        ]
    },
    {
        "id": "522f614ad1385304",
        "type": "mongodb in",
        "z": "66ffc1367c7a49aa",
        "mongodb": "65016b8d41a78754",
        "name": "",
        "collection": "",
        "operation": "find",
        "x": 610,
        "y": 220,
        "wires": [
            [
                "651bac02260504a0"
            ]
        ]
    },
    {
        "id": "651bac02260504a0",
        "type": "function",
        "z": "66ffc1367c7a49aa",
        "name": "Formatear",
        "func": "msg.payload = {\n    success: true,\n    data: msg.payload || [],\n    total: msg.payload ? msg.payload.length : 0\n};\n\nmsg.statusCode = 200;\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'Access-Control-Allow-Origin': '*'\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 800,
        "y": 220,
        "wires": [
            [
                "3e7927df063aeab5"
            ]
        ]
    },
    {
        "id": "3e7927df063aeab5",
        "type": "http response",
        "z": "66ffc1367c7a49aa",
        "name": "",
        "x": 1010,
        "y": 220,
        "wires": []
    },
    {
        "id": "2bc8810ebdb696a5",
        "type": "http in",
        "z": "66ffc1367c7a49aa",
        "name": "",
        "url": "/api/notificaciones",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 260,
        "wires": [
            [
                "9f15709bd61115bd"
            ]
        ]
    },
    {
        "id": "9f15709bd61115bd",
        "type": "function",
        "z": "66ffc1367c7a49aa",
        "name": "Query Notificaciones",
        "func": "msg.collection = 'notificacion';\nmsg.payload = {};\nmsg.limit = 10;\nmsg.sort = { fecha: -1 };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 280,
        "wires": [
            [
                "5632ed961775ddc9"
            ]
        ]
    },
    {
        "id": "5632ed961775ddc9",
        "type": "mongodb in",
        "z": "66ffc1367c7a49aa",
        "mongodb": "65016b8d41a78754",
        "name": "",
        "collection": "",
        "operation": "find",
        "x": 620,
        "y": 280,
        "wires": [
            [
                "e5102cf59bd22890"
            ]
        ]
    },
    {
        "id": "e5102cf59bd22890",
        "type": "function",
        "z": "66ffc1367c7a49aa",
        "name": "Formatear",
        "func": "const sortedData = (msg.payload || []).sort((a, b) => {\n    return new Date(b.fecha) - new Date(a.fecha);\n}).slice(0, 10);\n\nmsg.payload = {\n    success: true,\n    data: sortedData\n};\n\nmsg.statusCode = 200;\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'Access-Control-Allow-Origin': '*'\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 830,
        "y": 280,
        "wires": [
            [
                "9aef4c754310d39b"
            ]
        ]
    },
    {
        "id": "9aef4c754310d39b",
        "type": "http response",
        "z": "66ffc1367c7a49aa",
        "name": "",
        "x": 1050,
        "y": 280,
        "wires": []
    },
    {
        "id": "1f004e26648d7405",
        "type": "http in",
        "z": "66ffc1367c7a49aa",
        "name": "",
        "url": "/api/estadisticas",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 340,
        "wires": [
            [
                "b1fcf6f9c575ef2f"
            ]
        ]
    },
    {
        "id": "b1fcf6f9c575ef2f",
        "type": "function",
        "z": "66ffc1367c7a49aa",
        "name": "Query Estadísticas",
        "func": "// Agregación para obtener última medición de cada luminaria\nmsg.collection = 'medicion';\nmsg.payload = [\n    {\n        $addFields: {\n            fechaNormalizada: {\n                $cond: {\n                    if: { $regexMatch: { input: \"$fecha\", regex: \"Z$\" } },\n                    then: \"$fecha\",\n                    else: { $concat: [\"$fecha\", \"Z\"] }\n                }\n            }\n        }\n    },\n    {\n        $addFields: {\n            fechaDate: { \n                $dateFromString: { \n                    dateString: \"$fechaNormalizada\",\n                    onError: null\n                } \n            }\n        }\n    },\n    {\n        $match: {\n            fechaDate: { $ne: null }\n        }\n    },\n    {\n        $sort: { id_luminaria: 1, fechaDate: -1 }\n    },\n    {\n        $group: {\n            _id: \"$id_luminaria\",\n            ultimaFalla: { $first: \"$falla\" },\n            ultimaFecha: { $first: \"$fechaDate\" }\n        }\n    },\n    {\n        $group: {\n            _id: null,\n            total: { $sum: 1 },\n            conFalla: {\n                $sum: {\n                    $cond: [{ $eq: [\"$ultimaFalla\", true] }, 1, 0]\n                }\n            }\n        }\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 340,
        "wires": [
            [
                "d7311829ea5e05f2"
            ]
        ]
    },
    {
        "id": "d7311829ea5e05f2",
        "type": "mongodb in",
        "z": "66ffc1367c7a49aa",
        "mongodb": "65016b8d41a78754",
        "name": "",
        "collection": "",
        "operation": "aggregate",
        "x": 590,
        "y": 340,
        "wires": [
            [
                "2c54435a01e466e5"
            ]
        ]
    },
    {
        "id": "2c54435a01e466e5",
        "type": "function",
        "z": "66ffc1367c7a49aa",
        "name": "Formatear Estadísticas",
        "func": "let total = 0;\nlet conProblemas = 0;\n\nif (msg.payload && msg.payload.length > 0) {\n    const data = msg.payload[0];\n    total = data.total || 0;\n    conProblemas = data.conFalla || 0;\n}\n\nconst funcionando = total - conProblemas;\n\nmsg.payload = {\n    success: true,\n    data: {\n        totalLuminarias: total,\n        luminariasFuncionando: funcionando,\n        luminariasConProblemas: conProblemas\n    }\n};\n\nmsg.statusCode = 200;\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'Access-Control-Allow-Origin': '*'\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 820,
        "y": 340,
        "wires": [
            [
                "4fbbadebbd2ee101"
            ]
        ]
    },
    {
        "id": "4fbbadebbd2ee101",
        "type": "http response",
        "z": "66ffc1367c7a49aa",
        "name": "",
        "x": 1050,
        "y": 340,
        "wires": []
    },
    {
        "id": "db8715f1c9a11058",
        "type": "http in",
        "z": "66ffc1367c7a49aa",
        "name": "",
        "url": "/api/consumo/mes-anterior",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 400,
        "wires": [
            [
                "5858ee1aaa5e96ac"
            ]
        ]
    },
    {
        "id": "5858ee1aaa5e96ac",
        "type": "function",
        "z": "66ffc1367c7a49aa",
        "name": "Query Mes Anterior",
        "func": "const now = new Date();\nconst lastMonth = now.getMonth() === 0 ? 12 : now.getMonth();\nconst lastYear = now.getMonth() === 0 ? now.getFullYear() - 1 : now.getFullYear();\n\nflow.set('lastMonth', lastMonth);\nflow.set('lastYear', lastYear);\n\nmsg.collection = 'medicion';\nmsg.payload = [\n    {\n        $addFields: {\n            fechaNormalizada: {\n                $cond: {\n                    if: { $regexMatch: { input: \"$fecha\", regex: \"Z$\" } },\n                    then: \"$fecha\",\n                    else: { $concat: [\"$fecha\", \"Z\"] }\n                }\n            }\n        }\n    },\n    {\n        $addFields: {\n            fechaDate: { \n                $dateFromString: { \n                    dateString: \"$fechaNormalizada\",\n                    onError: null\n                } \n            }\n        }\n    },\n    {\n        $match: {\n            fechaDate: { $ne: null }\n        }\n    },\n    {\n        $addFields: {\n            mes: { $month: \"$fechaDate\" },\n            anio: { $year: \"$fechaDate\" }\n        }\n    },\n    {\n        $match: {\n            mes: lastMonth,\n            anio: lastYear\n        }\n    },\n    {\n        $group: {\n            _id: null,\n            totalConsumo: { $sum: \"$consumo\" }\n        }\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 400,
        "wires": [
            [
                "b3d6c83c77235f63"
            ]
        ]
    },
    {
        "id": "b3d6c83c77235f63",
        "type": "mongodb in",
        "z": "66ffc1367c7a49aa",
        "mongodb": "65016b8d41a78754",
        "name": "",
        "collection": "",
        "operation": "aggregate",
        "x": 680,
        "y": 400,
        "wires": [
            [
                "9741f9ec2e9480c3"
            ]
        ]
    },
    {
        "id": "9741f9ec2e9480c3",
        "type": "function",
        "z": "66ffc1367c7a49aa",
        "name": "Formatear",
        "func": "const lastMonth = flow.get('lastMonth');\nconst lastYear = flow.get('lastYear');\n\nif (msg.payload && msg.payload.length > 0) {\n    msg.payload = {\n        success: true,\n        data: {\n            consumoMesAnterior: parseFloat(msg.payload[0].totalConsumo.toFixed(3)),\n            mes: lastMonth,\n            año: lastYear\n        }\n    };\n} else {\n    msg.payload = {\n        success: true,\n        data: {\n            consumoMesAnterior: 0,\n            mes: lastMonth,\n            año: lastYear\n        }\n    };\n}\n\nmsg.statusCode = 200;\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'Access-Control-Allow-Origin': '*'\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 850,
        "y": 400,
        "wires": [
            [
                "03285b557563955d"
            ]
        ]
    },
    {
        "id": "03285b557563955d",
        "type": "http response",
        "z": "66ffc1367c7a49aa",
        "name": "",
        "x": 1050,
        "y": 400,
        "wires": []
    },
    {
        "id": "e4e079ccb2c30963",
        "type": "http in",
        "z": "66ffc1367c7a49aa",
        "name": "",
        "url": "/api/*",
        "method": "options",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 460,
        "wires": [
            [
                "4f97151351b7d594"
            ]
        ]
    },
    {
        "id": "4f97151351b7d594",
        "type": "function",
        "z": "66ffc1367c7a49aa",
        "name": "CORS Headers",
        "func": "msg.statusCode = 200;\nmsg.headers = {\n    'Access-Control-Allow-Origin': '*',\n    'Access-Control-Allow-Methods': 'GET, POST, PUT, DELETE, OPTIONS',\n    'Access-Control-Allow-Headers': 'Content-Type, Authorization'\n};\nmsg.payload = '';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 460,
        "wires": [
            [
                "39bebc4016089948"
            ]
        ]
    },
    {
        "id": "39bebc4016089948",
        "type": "http response",
        "z": "66ffc1367c7a49aa",
        "name": "",
        "x": 650,
        "y": 460,
        "wires": []
    },
    {
        "id": "bb0b1ca9c6b6bab1",
        "type": "http in",
        "z": "66ffc1367c7a49aa",
        "name": "",
        "url": "/api/consumo/diario",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 520,
        "wires": [
            [
                "12fa4dfc29db752d"
            ]
        ]
    },
    {
        "id": "12fa4dfc29db752d",
        "type": "function",
        "z": "66ffc1367c7a49aa",
        "name": "Query Consumo Diario",
        "func": "const now = new Date();\nconst year = now.getFullYear();\nconst month = now.getMonth() + 1;\n\nmsg.collection = 'medicion';\nmsg.payload = [\n    {\n        $addFields: {\n            fechaNormalizada: {\n                $cond: {\n                    if: { $regexMatch: { input: \"$fecha\", regex: \"Z$\" } },\n                    then: \"$fecha\",\n                    else: { $concat: [\"$fecha\", \"Z\"] }\n                }\n            }\n        }\n    },\n    {\n        $addFields: {\n            fechaDate: { \n                $dateFromString: { \n                    dateString: \"$fechaNormalizada\",\n                    onError: null\n                } \n            }\n        }\n    },\n    {\n        $match: {\n            fechaDate: { $ne: null }\n        }\n    },\n    {\n        $addFields: {\n            mes: { $month: \"$fechaDate\" },\n            anio: { $year: \"$fechaDate\" },\n            dia: { $dayOfMonth: \"$fechaDate\" }\n        }\n    },\n    {\n        $match: {\n            mes: month,\n            anio: year\n        }\n    },\n    {\n        $group: {\n            _id: \"$dia\",\n            consumoTotal: { $sum: \"$consumo\" }\n        }\n    },\n    {\n        $sort: { _id: 1 }\n    },\n    {\n        $project: {\n            _id: 0,\n            dia: \"$_id\",\n            consumo: { $round: [\"$consumoTotal\", 3] }\n        }\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 520,
        "wires": [
            [
                "f623f674cf3895ce"
            ]
        ]
    },
    {
        "id": "f623f674cf3895ce",
        "type": "mongodb in",
        "z": "66ffc1367c7a49aa",
        "mongodb": "65016b8d41a78754",
        "name": "",
        "collection": "",
        "operation": "aggregate",
        "x": 680,
        "y": 520,
        "wires": [
            [
                "ed294777b169089f"
            ]
        ]
    },
    {
        "id": "ed294777b169089f",
        "type": "function",
        "z": "66ffc1367c7a49aa",
        "name": "Formatear Consumo Diario",
        "func": "msg.payload = {\n    success: true,\n    data: msg.payload || []\n};\n\nmsg.statusCode = 200;\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'Access-Control-Allow-Origin': '*'\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 920,
        "y": 520,
        "wires": [
            [
                "4dccbc7deda5c398"
            ]
        ]
    },
    {
        "id": "4dccbc7deda5c398",
        "type": "http response",
        "z": "66ffc1367c7a49aa",
        "name": "",
        "x": 1130,
        "y": 520,
        "wires": []
    },
    {
        "id": "92a81074ab582eb7",
        "type": "http in",
        "z": "66ffc1367c7a49aa",
        "name": "",
        "url": "/api/consumo/por-hora",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 620,
        "wires": [
            [
                "0bc0c18110477938"
            ]
        ]
    },
    {
        "id": "0bc0c18110477938",
        "type": "function",
        "z": "66ffc1367c7a49aa",
        "name": "Query Consumo por Hora",
        "func": "msg.collection = 'medicion';\nmsg.payload = [\n    {\n        $addFields: {\n            fechaSplit: { $split: [\"$fecha\", \"T\"] }\n        }\n    },\n    {\n        $addFields: {\n            timePart: { $arrayElemAt: [\"$fechaSplit\", 1] }\n        }\n    },\n    {\n        $addFields: {\n            timeArray: { $split: [\"$timePart\", \":\"] }\n        }\n    },\n    {\n        $addFields: {\n            hora: { $toInt: { $arrayElemAt: [\"$timeArray\", 0] } }\n        }\n    },\n    {\n        $group: {\n            _id: \"$hora\",\n            totalConsumo: { $sum: \"$consumo\" },\n            count: { $sum: 1 }\n        }\n    },\n    {\n        $project: {\n            _id: 0,\n            hora: \"$_id\",\n            consumoPromedio: { $divide: [\"$totalConsumo\", \"$count\"] }\n        }\n    },\n    {\n        $sort: { hora: 1 }\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 620,
        "wires": [
            [
                "54a6bd54a177515b"
            ]
        ]
    },
    {
        "id": "54a6bd54a177515b",
        "type": "mongodb in",
        "z": "66ffc1367c7a49aa",
        "mongodb": "65016b8d41a78754",
        "name": "",
        "collection": "",
        "operation": "aggregate",
        "x": 670,
        "y": 620,
        "wires": [
            [
                "d748c8d167bc3dae"
            ]
        ]
    },
    {
        "id": "d748c8d167bc3dae",
        "type": "function",
        "z": "66ffc1367c7a49aa",
        "name": "Formatear Respuesta",
        "func": "msg.payload = {\n    success: true,\n    data: msg.payload\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 890,
        "y": 620,
        "wires": [
            [
                "bbe57c72fbee2963"
            ]
        ]
    },
    {
        "id": "bbe57c72fbee2963",
        "type": "http response",
        "z": "66ffc1367c7a49aa",
        "name": "",
        "statusCode": "200",
        "headers": {
            "Access-Control-Allow-Origin": "*",
            "Content-Type": "application/json"
        },
        "x": 1100,
        "y": 620,
        "wires": []
    },
    {
        "id": "003216d84ff5bccc",
        "type": "http in",
        "z": "66ffc1367c7a49aa",
        "name": "",
        "url": "/api/consumo/por-hora",
        "method": "options",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 680,
        "wires": [
            [
                "e8f2971d5f26302e"
            ]
        ]
    },
    {
        "id": "e8f2971d5f26302e",
        "type": "http response",
        "z": "66ffc1367c7a49aa",
        "name": "",
        "statusCode": "204",
        "headers": {
            "Access-Control-Allow-Origin": "*",
            "Access-Control-Allow-Methods": "GET, POST, PUT, DELETE, OPTIONS",
            "Access-Control-Allow-Headers": "Content-Type, Authorization"
        },
        "x": 460,
        "y": 680,
        "wires": []
    },
    {
        "id": "a48a863a3384516d",
        "type": "http in",
        "z": "66ffc1367c7a49aa",
        "name": "",
        "url": "/api/ultima-medicion",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 740,
        "wires": [
            [
                "630a3bd51a0f8550"
            ]
        ]
    },
    {
        "id": "630a3bd51a0f8550",
        "type": "function",
        "z": "66ffc1367c7a49aa",
        "name": "Query Última Medición",
        "func": "msg.collection = 'medicion';\nmsg.payload = [\n    {\n        $addFields: {\n            fechaSplit: { $split: [\"$fecha\", \"T\"] }\n        }\n    },\n    {\n        $addFields: {\n            fechaNormalizada: {\n                $cond: {\n                    if: { $regexMatch: { input: \"$fecha\", regex: \"Z$\" } },\n                    then: \"$fecha\",\n                    else: { $concat: [\"$fecha\", \"Z\"] }\n                }\n            }\n        }\n    },\n    {\n        $addFields: {\n            fechaDate: { \n                $dateFromString: { \n                    dateString: \"$fechaNormalizada\",\n                    onError: null\n                } \n            }\n        }\n    },\n    {\n        $match: {\n            fechaDate: { $ne: null }\n        }\n    },\n    {\n        $sort: { fechaDate: -1 }\n    },\n    {\n        $limit: 1\n    },\n    {\n        $project: {\n            _id: 0,\n            fecha: 1,\n            consumo: 1,\n            estado_rele: 1,\n            perdida_energia: 1,\n            falla: 1,\n            sobreconsumo: 1,\n            corriente: 1,\n            voltaje: 1,\n            id_luminaria: 1\n        }\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 740,
        "wires": [
            [
                "4341f368bd20045a"
            ]
        ]
    },
    {
        "id": "4341f368bd20045a",
        "type": "mongodb in",
        "z": "66ffc1367c7a49aa",
        "mongodb": "65016b8d41a78754",
        "name": "",
        "collection": "",
        "operation": "aggregate",
        "x": 660,
        "y": 720,
        "wires": [
            [
                "2bda10584a8581eb"
            ]
        ]
    },
    {
        "id": "2bda10584a8581eb",
        "type": "function",
        "z": "66ffc1367c7a49aa",
        "name": "Formatear Respuesta",
        "func": "const medicion = msg.payload[0] || null;\nmsg.payload = {\n    success: true,\n    data: medicion\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 880,
        "y": 740,
        "wires": [
            [
                "fa87a4b4834b37cb"
            ]
        ]
    },
    {
        "id": "fa87a4b4834b37cb",
        "type": "http response",
        "z": "66ffc1367c7a49aa",
        "name": "",
        "statusCode": "200",
        "headers": {
            "Access-Control-Allow-Origin": "*",
            "Content-Type": "application/json"
        },
        "x": 1080,
        "y": 740,
        "wires": []
    },
    {
        "id": "c68a4d1123dad455",
        "type": "http in",
        "z": "66ffc1367c7a49aa",
        "name": "",
        "url": "/api/ultima-medicion",
        "method": "options",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 800,
        "wires": [
            [
                "a196cb8387bc7644"
            ]
        ]
    },
    {
        "id": "a196cb8387bc7644",
        "type": "http response",
        "z": "66ffc1367c7a49aa",
        "name": "",
        "statusCode": "204",
        "headers": {
            "Access-Control-Allow-Origin": "*",
            "Access-Control-Allow-Methods": "GET, POST, PUT, DELETE, OPTIONS",
            "Access-Control-Allow-Headers": "Content-Type, Authorization"
        },
        "x": 490,
        "y": 800,
        "wires": []
    },
    {
        "id": "fb98e9de686d4bd3",
        "type": "http in",
        "z": "66ffc1367c7a49aa",
        "name": "",
        "url": "/api/sectores",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 860,
        "wires": [
            [
                "1dea4b63132a6738"
            ]
        ]
    },
    {
        "id": "1dea4b63132a6738",
        "type": "function",
        "z": "66ffc1367c7a49aa",
        "name": "Create Sector",
        "func": "const { nombre, zona } = msg.payload;\n\nif (!nombre || !zona) {\n    msg.statusCode = 400;\n    msg.payload = {\n        success: false,\n        error: 'Nombre y zona son requeridos'\n    };\n    return msg;\n}\n\nmsg.collection = 'sector';\nconst newSector = {\n    nombre: nombre,\n    zona: zona,\n    luminarias: []\n};\nmsg.payload = newSector;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 860,
        "wires": [
            [
                "0e490816388fd7e7",
                "adbadbddd4805bb7"
            ]
        ]
    },
    {
        "id": "0e490816388fd7e7",
        "type": "mongodb out",
        "z": "66ffc1367c7a49aa",
        "mongodb": "65016b8d41a78754",
        "name": "",
        "collection": "",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 610,
        "y": 860,
        "wires": []
    },
    {
        "id": "adbadbddd4805bb7",
        "type": "function",
        "z": "66ffc1367c7a49aa",
        "name": "Format Response",
        "func": "msg.statusCode = 201;\nmsg.payload = {\n    success: true,\n    message: 'Sector creado exitosamente'\n};\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'Access-Control-Allow-Origin': '*'\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 830,
        "y": 860,
        "wires": [
            [
                "360297bc8e315d3b"
            ]
        ]
    },
    {
        "id": "360297bc8e315d3b",
        "type": "http response",
        "z": "66ffc1367c7a49aa",
        "name": "",
        "x": 1040,
        "y": 860,
        "wires": []
    },
    {
        "id": "b01797a2f14607af",
        "type": "http in",
        "z": "66ffc1367c7a49aa",
        "name": "",
        "url": "/api/sectores/:id",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 920,
        "wires": [
            [
                "e5db0147cffff0d7"
            ]
        ]
    },
    {
        "id": "e5db0147cffff0d7",
        "type": "function",
        "z": "66ffc1367c7a49aa",
        "name": "Update Sector",
        "func": "const sectorId = msg.req.params.id;\nconst { nombre, zona } = msg.payload;\n\nif (!nombre && !zona) {\n    msg.statusCode = 400;\n    msg.payload = {\n        success: false,\n        error: 'Debe proporcionar al menos nombre o zona'\n    };\n    return msg;\n}\n\nlet updateFields = {};\nif (nombre) updateFields.nombre = nombre;\nif (zona) updateFields.zona = zona;\n\nmsg.collection = 'sector';\n// Intentamos usar el ID como string, el nodo mongodb debería manejarlo si es posible\n// O usamos _id directamente si el nodo lo soporta\nmsg.query = { _id: sectorId };\nmsg.payload = { $set: updateFields };\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 920,
        "wires": [
            [
                "ee340687b094e8ef",
                "e29d86939ba3ef4c"
            ]
        ]
    },
    {
        "id": "ee340687b094e8ef",
        "type": "mongodb out",
        "z": "66ffc1367c7a49aa",
        "mongodb": "65016b8d41a78754",
        "name": "",
        "collection": "",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "update",
        "x": 620,
        "y": 920,
        "wires": []
    },
    {
        "id": "e29d86939ba3ef4c",
        "type": "function",
        "z": "66ffc1367c7a49aa",
        "name": "Format Response",
        "func": "msg.statusCode = 200;\nmsg.payload = {\n    success: true,\n    message: 'Sector actualizado exitosamente'\n};\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'Access-Control-Allow-Origin': '*'\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 830,
        "y": 920,
        "wires": [
            [
                "14fd07cb23ddad93"
            ]
        ]
    },
    {
        "id": "14fd07cb23ddad93",
        "type": "http response",
        "z": "66ffc1367c7a49aa",
        "name": "",
        "x": 1040,
        "y": 920,
        "wires": []
    },
    {
        "id": "fe22c88f99af54c5",
        "type": "http in",
        "z": "66ffc1367c7a49aa",
        "name": "",
        "url": "/api/sectores/:id/luminarias",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 980,
        "wires": [
            [
                "cda0cf0ab5f3588b"
            ]
        ]
    },
    {
        "id": "cda0cf0ab5f3588b",
        "type": "function",
        "z": "66ffc1367c7a49aa",
        "name": "Link Luminarias",
        "func": "const sectorId = msg.req.params.id;\nconst { luminarias } = msg.payload;\n\nif (!Array.isArray(luminarias)) {\n    msg.statusCode = 400;\n    msg.payload = {\n        success: false,\n        error: 'luminarias debe ser un array'\n    };\n    return msg;\n}\n\n// Usamos id_lum (strings) en lugar de ObjectIDs\nconst luminariaIds = luminarias;\n\nmsg.collection = 'sector';\nmsg.query = { _id: sectorId };\nmsg.payload = { $set: { luminarias: luminariaIds } };\n\nflow.set('sectorId', sectorId);\nflow.set('luminariaIds', luminariaIds);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 980,
        "wires": [
            [
                "936565d69ac35f5a",
                "a51f1cac0a4faa63"
            ]
        ]
    },
    {
        "id": "936565d69ac35f5a",
        "type": "mongodb out",
        "z": "66ffc1367c7a49aa",
        "mongodb": "65016b8d41a78754",
        "name": "",
        "collection": "",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "update",
        "x": 660,
        "y": 980,
        "wires": []
    },
    {
        "id": "a51f1cac0a4faa63",
        "type": "function",
        "z": "66ffc1367c7a49aa",
        "name": "Update Luminarias Sector",
        "func": "const sectorId = flow.get('sectorId');\nconst luminariaIds = flow.get('luminariaIds');\n\nmsg.collection = 'luminarias';\n// Buscamos por id_lum que es string, evitando problemas con ObjectID\nmsg.query = { id_lum: { $in: luminariaIds } };\nmsg.payload = { $set: { id_sector: sectorId } };\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 890,
        "y": 980,
        "wires": [
            [
                "8d7ad8ec607ee366",
                "58395d47214806ad"
            ]
        ]
    },
    {
        "id": "8d7ad8ec607ee366",
        "type": "mongodb out",
        "z": "66ffc1367c7a49aa",
        "mongodb": "65016b8d41a78754",
        "name": "",
        "collection": "",
        "payonly": false,
        "upsert": false,
        "multi": true,
        "operation": "update",
        "x": 1140,
        "y": 980,
        "wires": []
    },
    {
        "id": "58395d47214806ad",
        "type": "function",
        "z": "66ffc1367c7a49aa",
        "name": "Format Response",
        "func": "msg.statusCode = 200;\nmsg.payload = {\n    success: true,\n    message: 'Luminarias enlazadas exitosamente'\n};\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'Access-Control-Allow-Origin': '*'\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1370,
        "y": 980,
        "wires": [
            [
                "0886bc43b526a943"
            ]
        ]
    },
    {
        "id": "0886bc43b526a943",
        "type": "http response",
        "z": "66ffc1367c7a49aa",
        "name": "",
        "x": 1580,
        "y": 980,
        "wires": []
    },
    {
        "id": "5ab18b0f131d3135",
        "type": "http in",
        "z": "66ffc1367c7a49aa",
        "name": "",
        "url": "/api/sectores/:id",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 1040,
        "wires": [
            [
                "a90a0050ffc1884e"
            ]
        ]
    },
    {
        "id": "a90a0050ffc1884e",
        "type": "function",
        "z": "66ffc1367c7a49aa",
        "name": "Delete Sector",
        "func": "const sectorId = msg.req.params.id;\n\nmsg.collection = 'sector';\nmsg.query = { _id: sectorId };\n\nflow.set('deleteSectorId', sectorId);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 1040,
        "wires": [
            [
                "482cfcce6ec43b51",
                "b5e87e2d8f4b3418"
            ]
        ]
    },
    {
        "id": "482cfcce6ec43b51",
        "type": "mongodb out",
        "z": "66ffc1367c7a49aa",
        "mongodb": "65016b8d41a78754",
        "name": "",
        "collection": "",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 610,
        "y": 1040,
        "wires": []
    },
    {
        "id": "b5e87e2d8f4b3418",
        "type": "function",
        "z": "66ffc1367c7a49aa",
        "name": "Unlink Luminarias",
        "func": "const sectorId = flow.get('deleteSectorId');\n\nmsg.collection = 'luminarias';\nmsg.query = { id_sector: sectorId };\nmsg.payload = { $set: { id_sector: null } };\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 830,
        "y": 1040,
        "wires": [
            [
                "7b2bbe725ff95523",
                "4ca1e9626500dea7"
            ]
        ]
    },
    {
        "id": "7b2bbe725ff95523",
        "type": "mongodb out",
        "z": "66ffc1367c7a49aa",
        "mongodb": "65016b8d41a78754",
        "name": "",
        "collection": "",
        "payonly": false,
        "upsert": false,
        "multi": true,
        "operation": "update",
        "x": 1060,
        "y": 1040,
        "wires": []
    },
    {
        "id": "4ca1e9626500dea7",
        "type": "function",
        "z": "66ffc1367c7a49aa",
        "name": "Format Response",
        "func": "msg.statusCode = 200;\nmsg.payload = {\n    success: true,\n    message: 'Sector eliminado exitosamente'\n};\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'Access-Control-Allow-Origin': '*'\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1290,
        "y": 1040,
        "wires": [
            [
                "3104ea5318372232"
            ]
        ]
    },
    {
        "id": "3104ea5318372232",
        "type": "http response",
        "z": "66ffc1367c7a49aa",
        "name": "",
        "x": 1500,
        "y": 1040,
        "wires": []
    },
    {
        "id": "eaae369b373003cf",
        "type": "http in",
        "z": "66ffc1367c7a49aa",
        "name": "",
        "url": "/api/sectores/:id/luminarias",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 1100,
        "wires": [
            [
                "92160caf0e11b555"
            ]
        ]
    },
    {
        "id": "92160caf0e11b555",
        "type": "function",
        "z": "66ffc1367c7a49aa",
        "name": "Query Luminarias con Mediciones",
        "func": "const sectorId = msg.req.params.id;\n\n// Buscar luminarias directamente por id_sector (que es el _id del sector como string)\nmsg.collection = 'luminarias';\nmsg.payload = [\n    {\n        $match: {\n            id_sector: sectorId\n        }\n    },\n    {\n        $addFields: {\n            // Extraer el número del id_lum (ej: \"lum_3\" -> 3)\n            lumNumerico: {\n                $cond: {\n                    if: { $regexMatch: { input: \"$id_lum\", regex: \"^lum_[0-9]+$\" } },\n                    then: {\n                        $toInt: {\n                            $arrayElemAt: [\n                                { $split: [\"$id_lum\", \"_\"] },\n                                1\n                            ]\n                        }\n                    },\n                    else: null\n                }\n            }\n        }\n    },\n    {\n        $match: {\n            lumNumerico: { $ne: null }\n        }\n    },\n    {\n        $lookup: {\n            from: 'medicion',\n            let: { lumNum: '$lumNumerico' },\n            pipeline: [\n                {\n                    $match: {\n                        $expr: { $eq: ['$id_luminaria', '$$lumNum'] }\n                    }\n                },\n                {\n                    $addFields: {\n                        fechaNormalizada: {\n                            $cond: {\n                                if: { $regexMatch: { input: \"$fecha\", regex: \"Z$\" } },\n                                then: \"$fecha\",\n                                else: { $concat: [\"$fecha\", \"Z\"] }\n                            }\n                        }\n                    }\n                },\n                {\n                    $addFields: {\n                        fechaDate: { \n                            $dateFromString: { \n                                dateString: \"$fechaNormalizada\",\n                                onError: null\n                            } \n                        }\n                    }\n                },\n                {\n                    $match: {\n                        fechaDate: { $ne: null }\n                    }\n                },\n                {\n                    $sort: { fechaDate: -1 }\n                },\n                {\n                    $limit: 1\n                }\n            ],\n            as: 'mediciones'\n        }\n    },\n    {\n        $addFields: {\n            ultimaMedicion: { $arrayElemAt: ['$mediciones', 0] }\n        }\n    },\n    {\n        $addFields: {\n            estado: {\n                $cond: {\n                    if: { $eq: ['$ultimaMedicion.falla', true] },\n                    then: 'Falla',\n                    else: {\n                        $cond: {\n                            if: { $eq: ['$ultimaMedicion.sobreconsumo', true] },\n                            then: 'Sobreconsumo',\n                            else: 'Bien'\n                        }\n                    }\n                }\n            }\n        }\n    },\n    {\n        $project: {\n            mediciones: 0,\n            lumNumerico: 0\n        }\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 1100,
        "wires": [
            [
                "4a979fce4d7efb4d"
            ]
        ]
    },
    {
        "id": "4a979fce4d7efb4d",
        "type": "mongodb in",
        "z": "66ffc1367c7a49aa",
        "mongodb": "65016b8d41a78754",
        "name": "",
        "collection": "",
        "operation": "aggregate",
        "x": 780,
        "y": 1100,
        "wires": [
            [
                "d0e6033c1d69a278"
            ]
        ]
    },
    {
        "id": "d0e6033c1d69a278",
        "type": "function",
        "z": "66ffc1367c7a49aa",
        "name": "Formatear Respuesta",
        "func": "msg.payload = {\n    success: true,\n    data: msg.payload || []\n};\n\nmsg.statusCode = 200;\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'Access-Control-Allow-Origin': '*'\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1000,
        "y": 1100,
        "wires": [
            [
                "b798defad6c7d0e9"
            ]
        ]
    },
    {
        "id": "b798defad6c7d0e9",
        "type": "http response",
        "z": "66ffc1367c7a49aa",
        "name": "",
        "x": 1220,
        "y": 1100,
        "wires": []
    },
    {
        "id": "91599f7d4ef54ab9",
        "type": "http in",
        "z": "66ffc1367c7a49aa",
        "name": "",
        "url": "/api/sectores/:id/detalle",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 1200,
        "wires": [
            [
                "793749fed2d2c74d"
            ]
        ]
    },
    {
        "id": "793749fed2d2c74d",
        "type": "function",
        "z": "66ffc1367c7a49aa",
        "name": "Query Detalle Sector",
        "func": "const sectorId = msg.req.params.id;\nconst now = new Date();\nconst year = now.getFullYear();\nconst month = now.getMonth() + 1;\nconst daysInMonth = new Date(year, month, 0).getDate();\n\nflow.set('sectorId', sectorId);\nflow.set('daysInMonth', daysInMonth);\n\n// Buscar luminarias directamente por id_sector (que es el _id del sector como string)\nmsg.collection = 'luminarias';\nmsg.payload = [\n    {\n        $match: {\n            id_sector: sectorId\n        }\n    },\n    {\n        $addFields: {\n            // Extraer el número del id_lum (ej: \"lum_3\" -> 3)\n            lumNumerico: {\n                $cond: {\n                    if: { $regexMatch: { input: \"$id_lum\", regex: \"^lum_[0-9]+$\" } },\n                    then: {\n                        $toInt: {\n                            $arrayElemAt: [\n                                { $split: [\"$id_lum\", \"_\"] },\n                                1\n                            ]\n                        }\n                    },\n                    else: null\n                }\n            }\n        }\n    },\n    {\n        $match: {\n            lumNumerico: { $ne: null }\n        }\n    },\n    {\n        $lookup: {\n            from: 'medicion',\n            let: { lumNum: '$lumNumerico' },\n            pipeline: [\n                {\n                    $match: {\n                        $expr: { $eq: ['$id_luminaria', '$$lumNum'] }\n                    }\n                },\n                {\n                    $addFields: {\n                        fechaNormalizada: {\n                            $cond: {\n                                if: { $regexMatch: { input: \"$fecha\", regex: \"Z$\" } },\n                                then: \"$fecha\",\n                                else: { $concat: [\"$fecha\", \"Z\"] }\n                            }\n                        }\n                    }\n                },\n                {\n                    $addFields: {\n                        fechaDate: { \n                            $dateFromString: { \n                                dateString: \"$fechaNormalizada\",\n                                onError: null\n                            } \n                        }\n                    }\n                },\n                {\n                    $match: {\n                        fechaDate: { $ne: null }\n                    }\n                },\n                {\n                    $addFields: {\n                        mes: { $month: \"$fechaDate\" },\n                        anio: { $year: \"$fechaDate\" }\n                    }\n                },\n                {\n                    $match: {\n                        mes: month,\n                        anio: year\n                    }\n                },\n                {\n                    $sort: { fechaDate: -1 }\n                }\n            ],\n            as: 'mediciones'\n        }\n    },\n    {\n        $addFields: {\n            ultimaMedicion: { $arrayElemAt: ['$mediciones', 0] },\n            consumoTotal: { $sum: '$mediciones.consumo' }\n        }\n    },\n    {\n        $group: {\n            _id: null,\n            totalLuminarias: { $sum: 1 },\n            luminariasFuncionando: {\n                $sum: {\n                    $cond: [\n                        { $ne: ['$ultimaMedicion.falla', true] },\n                        1,\n                        0\n                    ]\n                }\n            },\n            luminariasConFalla: {\n                $sum: {\n                    $cond: [\n                        { $eq: ['$ultimaMedicion.falla', true] },\n                        1,\n                        0\n                    ]\n                }\n            },\n            luminariasConSobreconsumo: {\n                $sum: {\n                    $cond: [\n                        { $eq: ['$ultimaMedicion.sobreconsumo', true] },\n                        1,\n                        0\n                    ]\n                }\n            },\n            consumoTotal: { $sum: '$consumoTotal' }\n        }\n    },\n    {\n        $project: {\n            _id: 0,\n            totalLuminarias: 1,\n            luminariasFuncionando: 1,\n            luminariasConFalla: 1,\n            luminariasConSobreconsumo: 1,\n            consumoTotal: 1,\n            consumoPromedio: { $divide: ['$consumoTotal', daysInMonth] }\n        }\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 1200,
        "wires": [
            [
                "ea40c65bfb16f2ba"
            ]
        ]
    },
    {
        "id": "ea40c65bfb16f2ba",
        "type": "mongodb in",
        "z": "66ffc1367c7a49aa",
        "mongodb": "65016b8d41a78754",
        "name": "",
        "collection": "",
        "operation": "aggregate",
        "x": 660,
        "y": 1220,
        "wires": [
            [
                "935fb092b8b62ce4"
            ]
        ]
    },
    {
        "id": "935fb092b8b62ce4",
        "type": "function",
        "z": "66ffc1367c7a49aa",
        "name": "Get Sector Info and Format",
        "func": "const sectorId = flow.get('sectorId');\nconst daysInMonth = flow.get('daysInMonth');\nconst stats = msg.payload[0] || {\n    totalLuminarias: 0,\n    luminariasFuncionando: 0,\n    luminariasConFalla: 0,\n    luminariasConSobreconsumo: 0,\n    consumoTotal: 0,\n    consumoPromedio: 0\n};\n\n// Buscar información del sector\nmsg.collection = 'sector';\n// Pasamos el ID como string, el nodo de MongoDB de Node-RED lo convertirá automáticamente a ObjectID si es válido\nif (sectorId.match(/^[0-9a-fA-F]{24}$/)) {\n    msg.payload = { _id: sectorId };\n} else {\n    msg.payload = { id_sector: sectorId };\n}\nmsg.stats = stats;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 920,
        "y": 1220,
        "wires": [
            [
                "426a7a74a945256b"
            ]
        ]
    },
    {
        "id": "426a7a74a945256b",
        "type": "mongodb in",
        "z": "66ffc1367c7a49aa",
        "mongodb": "65016b8d41a78754",
        "name": "",
        "collection": "",
        "operation": "aggregate",
        "x": 1180,
        "y": 1220,
        "wires": [
            [
                "7e0e136fb1b86657"
            ]
        ]
    },
    {
        "id": "7e0e136fb1b86657",
        "type": "function",
        "z": "66ffc1367c7a49aa",
        "name": "Combine and Format",
        "func": "const sector = msg.payload || {};\nconst stats = msg.stats;\n\nmsg.payload = {\n    success: true,\n    data: {\n        _id: sector._id,\n        id_sector: sector.id_sector,\n        nombre: sector.nombre || 'Sector',\n        zona: sector.zona || 'Zona',\n        ...stats\n    }\n};\n\nmsg.statusCode = 200;\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'Access-Control-Allow-Origin': '*'\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1420,
        "y": 1220,
        "wires": [
            [
                "2caff159094a5312"
            ]
        ]
    },
    {
        "id": "2caff159094a5312",
        "type": "http response",
        "z": "66ffc1367c7a49aa",
        "name": "",
        "x": 1610,
        "y": 1220,
        "wires": []
    },
    {
        "id": "5f8289de2ab54827",
        "type": "http in",
        "z": "66ffc1367c7a49aa",
        "name": "",
        "url": "/api/sectores/estado",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 1260,
        "wires": [
            [
                "3e5cf74eabfbbecc"
            ]
        ]
    },
    {
        "id": "3e5cf74eabfbbecc",
        "type": "function",
        "z": "66ffc1367c7a49aa",
        "name": "Query Estado Sectores",
        "func": "// Obtener última medición de cada luminaria agrupada por sector\nmsg.collection = 'luminarias';\nmsg.payload = [\n    {\n        $addFields: {\n            // Extraer el número del id_lum (ej: \"lum_3\" -> 3)\n            lumNumerico: {\n                $cond: {\n                    if: { $regexMatch: { input: \"$id_lum\", regex: \"^lum_[0-9]+$\" } },\n                    then: {\n                        $toInt: {\n                            $arrayElemAt: [\n                                { $split: [\"$id_lum\", \"_\"] },\n                                1\n                            ]\n                        }\n                    },\n                    else: null\n                }\n            }\n        }\n    },\n    {\n        $match: {\n            lumNumerico: { $ne: null }\n        }\n    },\n    {\n        $lookup: {\n            from: 'medicion',\n            let: { lumNum: '$lumNumerico' },\n            pipeline: [\n                {\n                    $match: {\n                        $expr: { $eq: ['$id_luminaria', '$$lumNum'] }\n                    }\n                },\n                {\n                    $addFields: {\n                        fechaNormalizada: {\n                            $cond: {\n                                if: { $regexMatch: { input: \"$fecha\", regex: \"Z$\" } },\n                                then: \"$fecha\",\n                                else: { $concat: [\"$fecha\", \"Z\"] }\n                            }\n                        }\n                    }\n                },\n                {\n                    $addFields: {\n                        fechaDate: { \n                            $dateFromString: { \n                                dateString: \"$fechaNormalizada\",\n                                onError: null\n                            } \n                        }\n                    }\n                },\n                {\n                    $match: {\n                        fechaDate: { $ne: null }\n                    }\n                },\n                {\n                    $sort: { fechaDate: -1 }\n                },\n                {\n                    $limit: 1\n                }\n            ],\n            as: 'mediciones'\n        }\n    },\n    {\n        $addFields: {\n            ultimaMedicion: { $arrayElemAt: ['$mediciones', 0] }\n        }\n    },\n    {\n        $group: {\n            _id: '$id_sector',\n            tieneFalla: {\n                $max: {\n                    $cond: [\n                        { $eq: ['$ultimaMedicion.falla', true] },\n                        1,\n                        0\n                    ]\n                }\n            },\n            tieneSobreconsumo: {\n                $max: {\n                    $cond: [\n                        { $eq: ['$ultimaMedicion.sobreconsumo', true] },\n                        1,\n                        0\n                    ]\n                }\n            }\n        }\n    },\n    {\n        $project: {\n            _id: 0,\n            id_sector: '$_id',\n            falla: { $eq: ['$tieneFalla', 1] },\n            sobreconsumo: { $eq: ['$tieneSobreconsumo', 1] }\n        }\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 1260,
        "wires": [
            [
                "25a63fa257ca9dea"
            ]
        ]
    },
    {
        "id": "25a63fa257ca9dea",
        "type": "mongodb in",
        "z": "66ffc1367c7a49aa",
        "mongodb": "65016b8d41a78754",
        "name": "",
        "collection": "",
        "operation": "aggregate",
        "x": 700,
        "y": 1260,
        "wires": [
            [
                "3864f7963afa235d"
            ]
        ]
    },
    {
        "id": "3864f7963afa235d",
        "type": "function",
        "z": "66ffc1367c7a49aa",
        "name": "Formatear Estado Sectores",
        "func": "// Crear un mapa de estados por sector\nconst estadosPorSector = {};\n\nif (msg.payload && msg.payload.length > 0) {\n    msg.payload.forEach(item => {\n        estadosPorSector[item.id_sector] = {\n            falla: item.falla || false,\n            sobreconsumo: item.sobreconsumo || false\n        };\n    });\n}\n\nmsg.payload = {\n    success: true,\n    data: estadosPorSector\n};\n\nmsg.statusCode = 200;\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'Access-Control-Allow-Origin': '*'\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 960,
        "y": 1260,
        "wires": [
            [
                "74f138b4324e0d44"
            ]
        ]
    },
    {
        "id": "74f138b4324e0d44",
        "type": "http response",
        "z": "66ffc1367c7a49aa",
        "name": "",
        "x": 1190,
        "y": 1260,
        "wires": []
    },
    {
        "id": "d6111b1c67721da7",
        "type": "http in",
        "z": "66ffc1367c7a49aa",
        "name": "",
        "url": "/api/reportes",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 1380,
        "wires": [
            [
                "8d8d4afd34a329b0"
            ]
        ]
    },
    {
        "id": "8d8d4afd34a329b0",
        "type": "function",
        "z": "66ffc1367c7a49aa",
        "name": "Query Reportes",
        "func": "msg.collection = 'reportes';\nmsg.payload = {};\nmsg.sort = { fecha: -1 };\nmsg.limit = 50;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 1380,
        "wires": [
            [
                "8552e90cbff2a775"
            ]
        ]
    },
    {
        "id": "8552e90cbff2a775",
        "type": "mongodb in",
        "z": "66ffc1367c7a49aa",
        "mongodb": "65016b8d41a78754",
        "name": "",
        "collection": "",
        "operation": "find",
        "x": 640,
        "y": 1380,
        "wires": [
            [
                "c55deca25e0e5f03"
            ]
        ]
    },
    {
        "id": "c55deca25e0e5f03",
        "type": "function",
        "z": "66ffc1367c7a49aa",
        "name": "Format Response",
        "func": "msg.payload = {\n    success: true,\n    data: msg.payload || []\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 1380,
        "wires": [
            [
                "e33f4e9eac3e30bb"
            ]
        ]
    },
    {
        "id": "e33f4e9eac3e30bb",
        "type": "http response",
        "z": "66ffc1367c7a49aa",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1030,
        "y": 1380,
        "wires": []
    },
    {
        "id": "fb26d7c36d99d27f",
        "type": "http in",
        "z": "66ffc1367c7a49aa",
        "name": "",
        "url": "/api/reportes",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 1420,
        "wires": [
            [
                "2920b06d2282d0be"
            ]
        ]
    },
    {
        "id": "2920b06d2282d0be",
        "type": "function",
        "z": "66ffc1367c7a49aa",
        "name": "Prepare Reporte",
        "func": "const { titulo, descripcion, id_luminaria } = msg.payload;\n\nif (!titulo || !descripcion) {\n    msg.statusCode = 400;\n    msg.payload = {\n        success: false,\n        error: 'Título y descripción son requeridos'\n    };\n    return msg;\n}\n\nconst reporte = {\n    titulo: titulo,\n    descripcion: descripcion,\n    id_luminaria: id_luminaria || null,\n    fecha: new Date().toISOString()\n};\n\nmsg.collection = 'reportes';\nmsg.payload = reporte;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 1420,
        "wires": [
            [
                "92b625336c6501d7",
                "84589bda72a97ee7"
            ]
        ]
    },
    {
        "id": "92b625336c6501d7",
        "type": "mongodb out",
        "z": "66ffc1367c7a49aa",
        "mongodb": "65016b8d41a78754",
        "name": "",
        "collection": "",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 640,
        "y": 1460,
        "wires": []
    },
    {
        "id": "84589bda72a97ee7",
        "type": "function",
        "z": "66ffc1367c7a49aa",
        "name": "Success Response",
        "func": "msg.payload = {\n    success: true,\n    message: 'Reporte creado exitosamente'\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 1420,
        "wires": [
            [
                "1c2a7055ee6a8946"
            ]
        ]
    },
    {
        "id": "1c2a7055ee6a8946",
        "type": "http response",
        "z": "66ffc1367c7a49aa",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1030,
        "y": 1420,
        "wires": []
    },
    {
        "id": "4a37565a6adb588b",
        "type": "http in",
        "z": "66ffc1367c7a49aa",
        "name": "",
        "url": "/api/sectores/:id/consumo-mensual",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 1320,
        "wires": [
            [
                "642639237f43173c"
            ]
        ]
    },
    {
        "id": "642639237f43173c",
        "type": "function",
        "z": "66ffc1367c7a49aa",
        "name": "Query Consumo Mensual Sector",
        "func": "const sectorId = msg.req.params.id;\nconst now = new Date();\nconst currentYear = now.getFullYear();\n\nmsg.collection = 'luminarias';\nmsg.payload = [\n    {\n        $match: {\n            id_sector: sectorId\n        }\n    },\n    {\n        $project: {\n            id_lum: 1\n        }\n    }\n];\n\nflow.set('sectorId', sectorId);\nflow.set('currentYear', currentYear);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 1320,
        "wires": [
            [
                "2c40c052daf719f6"
            ]
        ]
    },
    {
        "id": "2c40c052daf719f6",
        "type": "mongodb in",
        "z": "66ffc1367c7a49aa",
        "mongodb": "65016b8d41a78754",
        "name": "",
        "collection": "",
        "operation": "aggregate",
        "x": 820,
        "y": 1320,
        "wires": [
            [
                "7881c3bb01ec3af2"
            ]
        ]
    },
    {
        "id": "7881c3bb01ec3af2",
        "type": "function",
        "z": "66ffc1367c7a49aa",
        "name": "Query Consumo por Luminarias",
        "func": "const luminarias = msg.payload || [];\nconst currentYear = flow.get('currentYear');\n\nif (luminarias.length === 0) {\n    msg.payload = [];\n    return msg;\n}\n\nconst lumIds = luminarias.map(l => l.id_lum);\n\nmsg.collection = 'consumo_mensual';\nmsg.payload = [\n    {\n        $match: {\n            id_lum: { $in: lumIds },\n            id_year: `year_${currentYear}`\n        }\n    },\n    {\n        $group: {\n            _id: '$id_month',\n            consumoTotal: { $sum: '$consumoMensual' }\n        }\n    },\n    {\n        $sort: { _id: 1 }\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1080,
        "y": 1320,
        "wires": [
            [
                "3b983d9d0e1c8257"
            ]
        ]
    },
    {
        "id": "3b983d9d0e1c8257",
        "type": "mongodb in",
        "z": "66ffc1367c7a49aa",
        "mongodb": "65016b8d41a78754",
        "name": "",
        "collection": "",
        "operation": "aggregate",
        "x": 1340,
        "y": 1320,
        "wires": [
            [
                "5461d7197f8589cd"
            ]
        ]
    },
    {
        "id": "5461d7197f8589cd",
        "type": "function",
        "z": "66ffc1367c7a49aa",
        "name": "Formatear Respuesta",
        "func": "const data = msg.payload || [];\nconst monthNames = ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'];\n\n// Crear array con todos los meses inicializados en 0\nconst consumoPorMes = monthNames.map((mes, index) => ({\n    mes: mes,\n    consumo: 0\n}));\n\n// Llenar con datos reales\ndata.forEach(item => {\n    const monthIndex = parseInt(item._id.replace('month_', ''));\n    if (monthIndex >= 0 && monthIndex < 12) {\n        consumoPorMes[monthIndex].consumo = item.consumoTotal;\n    }\n});\n\nmsg.payload = {\n    success: true,\n    data: consumoPorMes\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1600,
        "y": 1320,
        "wires": [
            [
                "a4d78065b210b6f4"
            ]
        ]
    },
    {
        "id": "a4d78065b210b6f4",
        "type": "http response",
        "z": "66ffc1367c7a49aa",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1830,
        "y": 1320,
        "wires": []
    },
    {
        "id": "65016b8d41a78754",
        "type": "mongodb",
        "hostname": "cluster0.gne8ies.mongodb.net",
        "topology": "dnscluster",
        "connectOptions": "",
        "port": "27017",
        "db": "LumiCert",
        "name": "MongoDB Atlas"
    },
    {
        "id": "b2595e4f52ed5f3c",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-mongodb": "0.2.5"
        }
    }
]