node-red-API-LumiCert.json
[
    {
        "id": "e8c05a40567ab534",
        "type": "tab",
        "label": "LumiCert API",
        "disabled": false,
        "info": ""
    },
    {
        "id": "90e3f694eb687142",
        "type": "http in",
        "z": "e8c05a40567ab534",
        "name": "",
        "url": "/api/consumo/total-mes",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 100,
        "wires": [
            [
                "c8723b27e3688519"
            ]
        ]
    },
    {
        "id": "c8723b27e3688519",
        "type": "function",
        "z": "e8c05a40567ab534",
        "name": "Preparar Query",
        "func": "const now = new Date();\nconst year = now.getFullYear();\nconst month = now.getMonth() + 1;\nconst daysInMonth = new Date(year, month, 0).getDate();\nconst currentDay = now.getDate();\n\nflow.set('year', year);\nflow.set('month', month);\nflow.set('daysInMonth', daysInMonth);\nflow.set('currentDay', currentDay);\n\n// Query que maneja fechas con y sin timezone\nmsg.collection = 'medicion';\nmsg.payload = [\n    {\n        $addFields: {\n            fechaNormalizada: {\n                $cond: {\n                    if: { $regexMatch: { input: \"$fecha\", regex: \"Z$\" } },\n                    then: \"$fecha\",\n                    else: { $concat: [\"$fecha\", \"Z\"] }\n                }\n            }\n        }\n    },\n    {\n        $addFields: {\n            fechaDate: { \n                $dateFromString: { \n                    dateString: \"$fechaNormalizada\",\n                    onError: null\n                } \n            }\n        }\n    },\n    {\n        $match: {\n            fechaDate: { $ne: null }\n        }\n    },\n    {\n        $addFields: {\n            mes: { $month: \"$fechaDate\" },\n            anio: { $year: \"$fechaDate\" }\n        }\n    },\n    {\n        $match: {\n            mes: month,\n            anio: year\n        }\n    },\n    {\n        $group: {\n            _id: null,\n            totalConsumo: { $sum: \"$consumo\" },\n            count: { $sum: 1 }\n        }\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 100,
        "wires": [
            [
                "42f07120d3227eb1"
            ]
        ]
    },
    {
        "id": "42f07120d3227eb1",
        "type": "mongodb in",
        "z": "e8c05a40567ab534",
        "mongodb": "65016b8d41a78754",
        "name": "",
        "collection": "",
        "operation": "aggregate",
        "x": 640,
        "y": 100,
        "wires": [
            [
                "e29c4e95e5d44698"
            ]
        ]
    },
    {
        "id": "e29c4e95e5d44698",
        "type": "function",
        "z": "e8c05a40567ab534",
        "name": "Formatear Respuesta",
        "func": "const year = flow.get('year');\nconst month = flow.get('month');\nconst daysInMonth = flow.get('daysInMonth');\nconst currentDay = flow.get('currentDay');\n\nif (msg.payload && msg.payload.length > 0) {\n    const data = msg.payload[0];\n    const totalConsumo = data.totalConsumo || 0;\n    const promedioMes = totalConsumo / daysInMonth;\n    const promedioDiario = totalConsumo / currentDay;\n    \n    msg.payload = {\n        success: true,\n        data: {\n            consumoTotalMes: parseFloat(totalConsumo.toFixed(3)),\n            consumoPromedioDiario: parseFloat(promedioDiario.toFixed(3)),\n            consumoPromedioMes: parseFloat(promedioMes.toFixed(3)),\n            mes: month,\n            año: year,\n            diasTranscurridos: currentDay,\n            totalDiasMes: daysInMonth,\n            mediciones: data.count\n        }\n    };\n} else {\n    msg.payload = {\n        success: true,\n        data: {\n            consumoTotalMes: 0,\n            consumoPromedioDiario: 0,\n            consumoPromedioMes: 0,\n            mes: month,\n            año: year,\n            diasTranscurridos: currentDay,\n            totalDiasMes: daysInMonth,\n            mediciones: 0\n        }\n    };\n}\n\nmsg.statusCode = 200;\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'Access-Control-Allow-Origin': '*'\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 860,
        "y": 100,
        "wires": [
            [
                "02293faadfde1db6"
            ]
        ]
    },
    {
        "id": "02293faadfde1db6",
        "type": "http response",
        "z": "e8c05a40567ab534",
        "name": "",
        "x": 1090,
        "y": 100,
        "wires": []
    },
    {
        "id": "bd7c2411ae830aaf",
        "type": "http in",
        "z": "e8c05a40567ab534",
        "name": "",
        "url": "/api/sectores",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 160,
        "wires": [
            [
                "2957a086733b57ee"
            ]
        ]
    },
    {
        "id": "2957a086733b57ee",
        "type": "function",
        "z": "e8c05a40567ab534",
        "name": "Query Sectores",
        "func": "msg.collection = 'sector';\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 160,
        "wires": [
            [
                "97ba30afbc7c0ec6"
            ]
        ]
    },
    {
        "id": "97ba30afbc7c0ec6",
        "type": "mongodb in",
        "z": "e8c05a40567ab534",
        "mongodb": "65016b8d41a78754",
        "name": "",
        "collection": "",
        "operation": "find",
        "x": 600,
        "y": 160,
        "wires": [
            [
                "5899b639cc93c54f"
            ]
        ]
    },
    {
        "id": "5899b639cc93c54f",
        "type": "function",
        "z": "e8c05a40567ab534",
        "name": "Formatear",
        "func": "msg.payload = {\n    success: true,\n    data: msg.payload || []\n};\n\nmsg.statusCode = 200;\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'Access-Control-Allow-Origin': '*'\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 790,
        "y": 160,
        "wires": [
            [
                "2c3850e9585debb9"
            ]
        ]
    },
    {
        "id": "2c3850e9585debb9",
        "type": "http response",
        "z": "e8c05a40567ab534",
        "name": "",
        "x": 990,
        "y": 160,
        "wires": []
    },
    {
        "id": "6f8113321957b380",
        "type": "http in",
        "z": "e8c05a40567ab534",
        "name": "",
        "url": "/api/luminarias",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 220,
        "wires": [
            [
                "35b210eb0dbd21aa"
            ]
        ]
    },
    {
        "id": "35b210eb0dbd21aa",
        "type": "function",
        "z": "e8c05a40567ab534",
        "name": "Query Luminarias",
        "func": "msg.collection = 'luminarias';\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 220,
        "wires": [
            [
                "50754b778e3939d1"
            ]
        ]
    },
    {
        "id": "50754b778e3939d1",
        "type": "mongodb in",
        "z": "e8c05a40567ab534",
        "mongodb": "65016b8d41a78754",
        "name": "",
        "collection": "",
        "operation": "find",
        "x": 610,
        "y": 220,
        "wires": [
            [
                "cd66794eb4aa8078"
            ]
        ]
    },
    {
        "id": "cd66794eb4aa8078",
        "type": "function",
        "z": "e8c05a40567ab534",
        "name": "Formatear",
        "func": "msg.payload = {\n    success: true,\n    data: msg.payload || [],\n    total: msg.payload ? msg.payload.length : 0\n};\n\nmsg.statusCode = 200;\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'Access-Control-Allow-Origin': '*'\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 800,
        "y": 220,
        "wires": [
            [
                "bec053a5d1234e2e"
            ]
        ]
    },
    {
        "id": "bec053a5d1234e2e",
        "type": "http response",
        "z": "e8c05a40567ab534",
        "name": "",
        "x": 1010,
        "y": 220,
        "wires": []
    },
    {
        "id": "415b56b80a6a3f42",
        "type": "http in",
        "z": "e8c05a40567ab534",
        "name": "",
        "url": "/api/notificaciones",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 280,
        "wires": [
            [
                "2bcb1af0ac460279"
            ]
        ]
    },
    {
        "id": "2bcb1af0ac460279",
        "type": "function",
        "z": "e8c05a40567ab534",
        "name": "Query Notificaciones",
        "func": "msg.collection = 'notificacion';\nmsg.payload = {};\nmsg.limit = 10;\nmsg.sort = { fecha: -1 };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 280,
        "wires": [
            [
                "8195def804143be0"
            ]
        ]
    },
    {
        "id": "8195def804143be0",
        "type": "mongodb in",
        "z": "e8c05a40567ab534",
        "mongodb": "65016b8d41a78754",
        "name": "",
        "collection": "",
        "operation": "find",
        "x": 660,
        "y": 280,
        "wires": [
            [
                "f39caad90a902a28"
            ]
        ]
    },
    {
        "id": "f39caad90a902a28",
        "type": "function",
        "z": "e8c05a40567ab534",
        "name": "Formatear",
        "func": "const sortedData = (msg.payload || []).sort((a, b) => {\n    return new Date(b.fecha) - new Date(a.fecha);\n}).slice(0, 10);\n\nmsg.payload = {\n    success: true,\n    data: sortedData\n};\n\nmsg.statusCode = 200;\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'Access-Control-Allow-Origin': '*'\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 830,
        "y": 280,
        "wires": [
            [
                "0818653a1198d6a8"
            ]
        ]
    },
    {
        "id": "0818653a1198d6a8",
        "type": "http response",
        "z": "e8c05a40567ab534",
        "name": "",
        "x": 1050,
        "y": 280,
        "wires": []
    },
    {
        "id": "1e017dcaa1d3d818",
        "type": "http in",
        "z": "e8c05a40567ab534",
        "name": "",
        "url": "/api/estadisticas",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 340,
        "wires": [
            [
                "1f07608b6c920885"
            ]
        ]
    },
    {
        "id": "1f07608b6c920885",
        "type": "function",
        "z": "e8c05a40567ab534",
        "name": "Query Estadísticas",
        "func": "// Agregación para obtener última medición de cada luminaria\nmsg.collection = 'medicion';\nmsg.payload = [\n    {\n        $addFields: {\n            fechaNormalizada: {\n                $cond: {\n                    if: { $regexMatch: { input: \"$fecha\", regex: \"Z$\" } },\n                    then: \"$fecha\",\n                    else: { $concat: [\"$fecha\", \"Z\"] }\n                }\n            }\n        }\n    },\n    {\n        $addFields: {\n            fechaDate: { \n                $dateFromString: { \n                    dateString: \"$fechaNormalizada\",\n                    onError: null\n                } \n            }\n        }\n    },\n    {\n        $match: {\n            fechaDate: { $ne: null }\n        }\n    },\n    {\n        $sort: { id_luminaria: 1, fechaDate: -1 }\n    },\n    {\n        $group: {\n            _id: \"$id_luminaria\",\n            ultimaFalla: { $first: \"$falla\" },\n            ultimaFecha: { $first: \"$fechaDate\" }\n        }\n    },\n    {\n        $group: {\n            _id: null,\n            total: { $sum: 1 },\n            conFalla: {\n                $sum: {\n                    $cond: [{ $eq: [\"$ultimaFalla\", true] }, 1, 0]\n                }\n            }\n        }\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 340,
        "wires": [
            [
                "ad0fe5cd9ffe7617"
            ]
        ]
    },
    {
        "id": "ad0fe5cd9ffe7617",
        "type": "mongodb in",
        "z": "e8c05a40567ab534",
        "mongodb": "65016b8d41a78754",
        "name": "",
        "collection": "",
        "operation": "aggregate",
        "x": 590,
        "y": 340,
        "wires": [
            [
                "d59c17fe0c3abed5"
            ]
        ]
    },
    {
        "id": "d59c17fe0c3abed5",
        "type": "function",
        "z": "e8c05a40567ab534",
        "name": "Formatear Estadísticas",
        "func": "let total = 0;\nlet conProblemas = 0;\n\nif (msg.payload && msg.payload.length > 0) {\n    const data = msg.payload[0];\n    total = data.total || 0;\n    conProblemas = data.conFalla || 0;\n}\n\nconst funcionando = total - conProblemas;\n\nmsg.payload = {\n    success: true,\n    data: {\n        totalLuminarias: total,\n        luminariasFuncionando: funcionando,\n        luminariasConProblemas: conProblemas\n    }\n};\n\nmsg.statusCode = 200;\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'Access-Control-Allow-Origin': '*'\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 820,
        "y": 340,
        "wires": [
            [
                "d808cb810b4641ac"
            ]
        ]
    },
    {
        "id": "d808cb810b4641ac",
        "type": "http response",
        "z": "e8c05a40567ab534",
        "name": "",
        "x": 1050,
        "y": 340,
        "wires": []
    },
    {
        "id": "f403dbf97f594aef",
        "type": "http in",
        "z": "e8c05a40567ab534",
        "name": "",
        "url": "/api/consumo/mes-anterior",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 400,
        "wires": [
            [
                "b5ab78de84e1bb58"
            ]
        ]
    },
    {
        "id": "b5ab78de84e1bb58",
        "type": "function",
        "z": "e8c05a40567ab534",
        "name": "Query Mes Anterior",
        "func": "const now = new Date();\nconst lastMonth = now.getMonth() === 0 ? 12 : now.getMonth();\nconst lastYear = now.getMonth() === 0 ? now.getFullYear() - 1 : now.getFullYear();\n\nflow.set('lastMonth', lastMonth);\nflow.set('lastYear', lastYear);\n\nmsg.collection = 'medicion';\nmsg.payload = [\n    {\n        $addFields: {\n            fechaNormalizada: {\n                $cond: {\n                    if: { $regexMatch: { input: \"$fecha\", regex: \"Z$\" } },\n                    then: \"$fecha\",\n                    else: { $concat: [\"$fecha\", \"Z\"] }\n                }\n            }\n        }\n    },\n    {\n        $addFields: {\n            fechaDate: { \n                $dateFromString: { \n                    dateString: \"$fechaNormalizada\",\n                    onError: null\n                } \n            }\n        }\n    },\n    {\n        $match: {\n            fechaDate: { $ne: null }\n        }\n    },\n    {\n        $addFields: {\n            mes: { $month: \"$fechaDate\" },\n            anio: { $year: \"$fechaDate\" }\n        }\n    },\n    {\n        $match: {\n            mes: lastMonth,\n            anio: lastYear\n        }\n    },\n    {\n        $group: {\n            _id: null,\n            totalConsumo: { $sum: \"$consumo\" }\n        }\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 400,
        "wires": [
            [
                "ca96467661522197"
            ]
        ]
    },
    {
        "id": "ca96467661522197",
        "type": "mongodb in",
        "z": "e8c05a40567ab534",
        "mongodb": "65016b8d41a78754",
        "name": "",
        "collection": "",
        "operation": "aggregate",
        "x": 680,
        "y": 400,
        "wires": [
            [
                "90619f9f5c638585"
            ]
        ]
    },
    {
        "id": "90619f9f5c638585",
        "type": "function",
        "z": "e8c05a40567ab534",
        "name": "Formatear",
        "func": "const lastMonth = flow.get('lastMonth');\nconst lastYear = flow.get('lastYear');\n\nif (msg.payload && msg.payload.length > 0) {\n    msg.payload = {\n        success: true,\n        data: {\n            consumoMesAnterior: parseFloat(msg.payload[0].totalConsumo.toFixed(3)),\n            mes: lastMonth,\n            año: lastYear\n        }\n    };\n} else {\n    msg.payload = {\n        success: true,\n        data: {\n            consumoMesAnterior: 0,\n            mes: lastMonth,\n            año: lastYear\n        }\n    };\n}\n\nmsg.statusCode = 200;\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'Access-Control-Allow-Origin': '*'\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 850,
        "y": 400,
        "wires": [
            [
                "5546e0750a042841"
            ]
        ]
    },
    {
        "id": "5546e0750a042841",
        "type": "http response",
        "z": "e8c05a40567ab534",
        "name": "",
        "x": 1050,
        "y": 400,
        "wires": []
    },
    {
        "id": "c7251f3ca44b59be",
        "type": "http in",
        "z": "e8c05a40567ab534",
        "name": "",
        "url": "/api/*",
        "method": "options",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 460,
        "wires": [
            [
                "fd999ceb4925606e"
            ]
        ]
    },
    {
        "id": "fd999ceb4925606e",
        "type": "function",
        "z": "e8c05a40567ab534",
        "name": "CORS Headers",
        "func": "msg.statusCode = 200;\nmsg.headers = {\n    'Access-Control-Allow-Origin': '*',\n    'Access-Control-Allow-Methods': 'GET, POST, PUT, DELETE, OPTIONS',\n    'Access-Control-Allow-Headers': 'Content-Type, Authorization'\n};\nmsg.payload = '';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 460,
        "wires": [
            [
                "00804dcef40395be"
            ]
        ]
    },
    {
        "id": "00804dcef40395be",
        "type": "http response",
        "z": "e8c05a40567ab534",
        "name": "",
        "x": 650,
        "y": 460,
        "wires": []
    },
    {
        "id": "82bdaecd38112055",
        "type": "http in",
        "z": "e8c05a40567ab534",
        "name": "",
        "url": "/api/consumo/diario",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 520,
        "wires": [
            [
                "81f2850273c30a35"
            ]
        ]
    },
    {
        "id": "81f2850273c30a35",
        "type": "function",
        "z": "e8c05a40567ab534",
        "name": "Query Consumo Diario",
        "func": "const now = new Date();\nconst year = now.getFullYear();\nconst month = now.getMonth() + 1;\n\nmsg.collection = 'medicion';\nmsg.payload = [\n    {\n        $addFields: {\n            fechaNormalizada: {\n                $cond: {\n                    if: { $regexMatch: { input: \"$fecha\", regex: \"Z$\" } },\n                    then: \"$fecha\",\n                    else: { $concat: [\"$fecha\", \"Z\"] }\n                }\n            }\n        }\n    },\n    {\n        $addFields: {\n            fechaDate: { \n                $dateFromString: { \n                    dateString: \"$fechaNormalizada\",\n                    onError: null\n                } \n            }\n        }\n    },\n    {\n        $match: {\n            fechaDate: { $ne: null }\n        }\n    },\n    {\n        $addFields: {\n            mes: { $month: \"$fechaDate\" },\n            anio: { $year: \"$fechaDate\" },\n            dia: { $dayOfMonth: \"$fechaDate\" }\n        }\n    },\n    {\n        $match: {\n            mes: month,\n            anio: year\n        }\n    },\n    {\n        $group: {\n            _id: \"$dia\",\n            consumoTotal: { $sum: \"$consumo\" }\n        }\n    },\n    {\n        $sort: { _id: 1 }\n    },\n    {\n        $project: {\n            _id: 0,\n            dia: \"$_id\",\n            consumo: { $round: [\"$consumoTotal\", 3] }\n        }\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 520,
        "wires": [
            [
                "2d0f05687c68cf85"
            ]
        ]
    },
    {
        "id": "2d0f05687c68cf85",
        "type": "mongodb in",
        "z": "e8c05a40567ab534",
        "mongodb": "65016b8d41a78754",
        "name": "",
        "collection": "",
        "operation": "aggregate",
        "x": 680,
        "y": 520,
        "wires": [
            [
                "5a374ceb453199eb"
            ]
        ]
    },
    {
        "id": "5a374ceb453199eb",
        "type": "function",
        "z": "e8c05a40567ab534",
        "name": "Formatear Consumo Diario",
        "func": "msg.payload = {\n    success: true,\n    data: msg.payload || []\n};\n\nmsg.statusCode = 200;\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'Access-Control-Allow-Origin': '*'\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 920,
        "y": 520,
        "wires": [
            [
                "39a892bed20051ff"
            ]
        ]
    },
    {
        "id": "39a892bed20051ff",
        "type": "http response",
        "z": "e8c05a40567ab534",
        "name": "",
        "x": 1130,
        "y": 520,
        "wires": []
    },
    {
        "id": "4474f7b3304fdaa7",
        "type": "http in",
        "z": "e8c05a40567ab534",
        "name": "",
        "url": "/api/consumo/por-hora",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 620,
        "wires": [
            [
                "971b983cf937a68c"
            ]
        ]
    },
    {
        "id": "971b983cf937a68c",
        "type": "function",
        "z": "e8c05a40567ab534",
        "name": "Query Consumo por Hora",
        "func": "msg.collection = 'medicion';\nmsg.payload = [\n    {\n        $addFields: {\n            fechaSplit: { $split: [\"$fecha\", \"T\"] }\n        }\n    },\n    {\n        $addFields: {\n            timePart: { $arrayElemAt: [\"$fechaSplit\", 1] }\n        }\n    },\n    {\n        $addFields: {\n            timeArray: { $split: [\"$timePart\", \":\"] }\n        }\n    },\n    {\n        $addFields: {\n            hora: { $toInt: { $arrayElemAt: [\"$timeArray\", 0] } }\n        }\n    },\n    {\n        $group: {\n            _id: \"$hora\",\n            totalConsumo: { $sum: \"$consumo\" },\n            count: { $sum: 1 }\n        }\n    },\n    {\n        $project: {\n            _id: 0,\n            hora: \"$_id\",\n            consumoPromedio: { $divide: [\"$totalConsumo\", \"$count\"] }\n        }\n    },\n    {\n        $sort: { hora: 1 }\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 620,
        "wires": [
            [
                "6c8c8ddbcbd5c443"
            ]
        ]
    },
    {
        "id": "6c8c8ddbcbd5c443",
        "type": "mongodb in",
        "z": "e8c05a40567ab534",
        "mongodb": "65016b8d41a78754",
        "name": "",
        "collection": "",
        "operation": "aggregate",
        "x": 670,
        "y": 620,
        "wires": [
            [
                "52960df819aa222a"
            ]
        ]
    },
    {
        "id": "52960df819aa222a",
        "type": "function",
        "z": "e8c05a40567ab534",
        "name": "Formatear Respuesta",
        "func": "msg.payload = {\n    success: true,\n    data: msg.payload\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 890,
        "y": 620,
        "wires": [
            [
                "a2569f01d7a0831e"
            ]
        ]
    },
    {
        "id": "a2569f01d7a0831e",
        "type": "http response",
        "z": "e8c05a40567ab534",
        "name": "",
        "statusCode": "200",
        "headers": {
            "Access-Control-Allow-Origin": "*",
            "Content-Type": "application/json"
        },
        "x": 1100,
        "y": 620,
        "wires": []
    },
    {
        "id": "1932516f67c83b46",
        "type": "http in",
        "z": "e8c05a40567ab534",
        "name": "",
        "url": "/api/consumo/por-hora",
        "method": "options",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 680,
        "wires": [
            [
                "54dd0b37275f74a5"
            ]
        ]
    },
    {
        "id": "54dd0b37275f74a5",
        "type": "http response",
        "z": "e8c05a40567ab534",
        "name": "",
        "statusCode": "204",
        "headers": {
            "Access-Control-Allow-Origin": "*",
            "Access-Control-Allow-Methods": "GET, POST, PUT, DELETE, OPTIONS",
            "Access-Control-Allow-Headers": "Content-Type, Authorization"
        },
        "x": 460,
        "y": 680,
        "wires": []
    },
    {
        "id": "83c9cc4d11e7c206",
        "type": "http in",
        "z": "e8c05a40567ab534",
        "name": "",
        "url": "/api/ultima-medicion",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 740,
        "wires": [
            [
                "3ccf4c12dbe52de7"
            ]
        ]
    },
    {
        "id": "3ccf4c12dbe52de7",
        "type": "function",
        "z": "e8c05a40567ab534",
        "name": "Query Última Medición",
        "func": "msg.collection = 'medicion';\nmsg.payload = [\n    {\n        $addFields: {\n            fechaSplit: { $split: [\"$fecha\", \"T\"] }\n        }\n    },\n    {\n        $addFields: {\n            fechaNormalizada: {\n                $cond: {\n                    if: { $regexMatch: { input: \"$fecha\", regex: \"Z$\" } },\n                    then: \"$fecha\",\n                    else: { $concat: [\"$fecha\", \"Z\"] }\n                }\n            }\n        }\n    },\n    {\n        $addFields: {\n            fechaDate: { \n                $dateFromString: { \n                    dateString: \"$fechaNormalizada\",\n                    onError: null\n                } \n            }\n        }\n    },\n    {\n        $match: {\n            fechaDate: { $ne: null }\n        }\n    },\n    {\n        $sort: { fechaDate: -1 }\n    },\n    {\n        $limit: 1\n    },\n    {\n        $project: {\n            _id: 0,\n            fecha: 1,\n            consumo: 1,\n            estado_rele: 1,\n            perdida_energia: 1,\n            falla: 1,\n            sobreconsumo: 1,\n            corriente: 1,\n            voltaje: 1,\n            id_lum: 1\n        }\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 740,
        "wires": [
            [
                "d7f881b4dc209516"
            ]
        ]
    },
    {
        "id": "d7f881b4dc209516",
        "type": "mongodb in",
        "z": "e8c05a40567ab534",
        "mongodb": "65016b8d41a78754",
        "name": "",
        "collection": "",
        "operation": "aggregate",
        "x": 690,
        "y": 740,
        "wires": [
            [
                "7ea47022861ca4d0"
            ]
        ]
    },
    {
        "id": "7ea47022861ca4d0",
        "type": "function",
        "z": "e8c05a40567ab534",
        "name": "Formatear Respuesta",
        "func": "const medicion = msg.payload[0] || null;\nmsg.payload = {\n    success: true,\n    data: medicion\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 930,
        "y": 740,
        "wires": [
            [
                "9e4d5dd19abbff9b"
            ]
        ]
    },
    {
        "id": "9e4d5dd19abbff9b",
        "type": "http response",
        "z": "e8c05a40567ab534",
        "name": "",
        "statusCode": "200",
        "headers": {
            "Access-Control-Allow-Origin": "*",
            "Content-Type": "application/json"
        },
        "x": 1160,
        "y": 740,
        "wires": []
    },
    {
        "id": "e08c2dca4b620dbf",
        "type": "http in",
        "z": "e8c05a40567ab534",
        "name": "",
        "url": "/api/ultima-medicion",
        "method": "options",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 800,
        "wires": [
            [
                "646f0c1244205fb2"
            ]
        ]
    },
    {
        "id": "646f0c1244205fb2",
        "type": "http response",
        "z": "e8c05a40567ab534",
        "name": "",
        "statusCode": "204",
        "headers": {
            "Access-Control-Allow-Origin": "*",
            "Access-Control-Allow-Methods": "GET, POST, PUT, DELETE, OPTIONS",
            "Access-Control-Allow-Headers": "Content-Type, Authorization"
        },
        "x": 490,
        "y": 800,
        "wires": []
    },
    {
        "id": "1f76ba3d7b0d5dff",
        "type": "http in",
        "z": "e8c05a40567ab534",
        "name": "",
        "url": "/api/sectores",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 860,
        "wires": [
            [
                "f2f57f673b9d9f6e"
            ]
        ]
    },
    {
        "id": "f2f57f673b9d9f6e",
        "type": "function",
        "z": "e8c05a40567ab534",
        "name": "Create Sector",
        "func": "const { nombre, zona } = msg.payload;\n\nif (!nombre || !zona) {\n    msg.statusCode = 400;\n    msg.payload = {\n        success: false,\n        error: 'Nombre y zona son requeridos'\n    };\n    return msg;\n}\n\nmsg.collection = 'sector';\nconst newSector = {\n    nombre: nombre,\n    zona: zona,\n    luminarias: []\n};\nmsg.payload = newSector;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 860,
        "wires": [
            [
                "f0e352aadffbd3d9",
                "8d98817c78338a36"
            ]
        ]
    },
    {
        "id": "f0e352aadffbd3d9",
        "type": "mongodb out",
        "z": "e8c05a40567ab534",
        "mongodb": "65016b8d41a78754",
        "name": "",
        "collection": "",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 610,
        "y": 860,
        "wires": []
    },
    {
        "id": "8d98817c78338a36",
        "type": "function",
        "z": "e8c05a40567ab534",
        "name": "Format Response",
        "func": "msg.statusCode = 201;\nmsg.payload = {\n    success: true,\n    message: 'Sector creado exitosamente'\n};\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'Access-Control-Allow-Origin': '*'\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 830,
        "y": 860,
        "wires": [
            [
                "e4ed069b03871d67"
            ]
        ]
    },
    {
        "id": "e4ed069b03871d67",
        "type": "http response",
        "z": "e8c05a40567ab534",
        "name": "",
        "x": 1040,
        "y": 860,
        "wires": []
    },
    {
        "id": "01ca595655e22a81",
        "type": "http in",
        "z": "e8c05a40567ab534",
        "name": "",
        "url": "/api/sectores/:id",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 920,
        "wires": [
            [
                "acbc9baa9ae5838f"
            ]
        ]
    },
    {
        "id": "acbc9baa9ae5838f",
        "type": "function",
        "z": "e8c05a40567ab534",
        "name": "Update Sector",
        "func": "const sectorId = msg.req.params.id;\nconst { nombre, zona } = msg.payload;\n\nif (!nombre && !zona) {\n    msg.statusCode = 400;\n    msg.payload = {\n        success: false,\n        error: 'Debe proporcionar al menos nombre o zona'\n    };\n    return msg;\n}\n\nlet updateFields = {};\nif (nombre) updateFields.nombre = nombre;\nif (zona) updateFields.zona = zona;\n\nmsg.collection = 'sector';\n// Intentamos usar el ID como string, el nodo mongodb debería manejarlo si es posible\n// O usamos _id directamente si el nodo lo soporta\nmsg.query = { _id: sectorId };\nmsg.payload = { $set: updateFields };\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 920,
        "wires": [
            [
                "f3d1aff5cf171bd4",
                "f990c22e416a42c6"
            ]
        ]
    },
    {
        "id": "f3d1aff5cf171bd4",
        "type": "mongodb out",
        "z": "e8c05a40567ab534",
        "mongodb": "65016b8d41a78754",
        "name": "",
        "collection": "",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "update",
        "x": 620,
        "y": 920,
        "wires": []
    },
    {
        "id": "f990c22e416a42c6",
        "type": "function",
        "z": "e8c05a40567ab534",
        "name": "Format Response",
        "func": "msg.statusCode = 200;\nmsg.payload = {\n    success: true,\n    message: 'Sector actualizado exitosamente'\n};\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'Access-Control-Allow-Origin': '*'\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 830,
        "y": 920,
        "wires": [
            [
                "122268d7c190152e"
            ]
        ]
    },
    {
        "id": "122268d7c190152e",
        "type": "http response",
        "z": "e8c05a40567ab534",
        "name": "",
        "x": 1040,
        "y": 920,
        "wires": []
    },
    {
        "id": "ea96dd2e5bdeebe9",
        "type": "http in",
        "z": "e8c05a40567ab534",
        "name": "",
        "url": "/api/sectores/:id/luminarias",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 980,
        "wires": [
            [
                "f2ea6aa1d2bc5cb7"
            ]
        ]
    },
    {
        "id": "f2ea6aa1d2bc5cb7",
        "type": "function",
        "z": "e8c05a40567ab534",
        "name": "Link Luminarias",
        "func": "const sectorId = msg.req.params.id;\nconst { luminarias } = msg.payload;\n\nif (!Array.isArray(luminarias)) {\n    msg.statusCode = 400;\n    msg.payload = {\n        success: false,\n        error: 'luminarias debe ser un array'\n    };\n    return msg;\n}\n\n// Usamos id_lum (strings) en lugar de ObjectIDs\nconst luminariaIds = luminarias;\n\nmsg.collection = 'sector';\nmsg.query = { _id: sectorId };\nmsg.payload = { $set: { luminarias: luminariaIds } };\n\nflow.set('sectorId', sectorId);\nflow.set('luminariaIds', luminariaIds);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 980,
        "wires": [
            [
                "63382314f606016a",
                "f12a98e672ae9c07"
            ]
        ]
    },
    {
        "id": "63382314f606016a",
        "type": "mongodb out",
        "z": "e8c05a40567ab534",
        "mongodb": "65016b8d41a78754",
        "name": "",
        "collection": "",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "update",
        "x": 660,
        "y": 980,
        "wires": []
    },
    {
        "id": "f12a98e672ae9c07",
        "type": "function",
        "z": "e8c05a40567ab534",
        "name": "Update Luminarias Sector",
        "func": "const sectorId = flow.get('sectorId');\nconst luminariaIds = flow.get('luminariaIds');\n\nmsg.collection = 'luminarias';\n// Buscamos por id_lum que es string, evitando problemas con ObjectID\nmsg.query = { id_lum: { $in: luminariaIds } };\nmsg.payload = { $set: { id_sector: sectorId } };\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 890,
        "y": 980,
        "wires": [
            [
                "7605187561bee36a",
                "2475e2d9446c7c4f"
            ]
        ]
    },
    {
        "id": "7605187561bee36a",
        "type": "mongodb out",
        "z": "e8c05a40567ab534",
        "mongodb": "65016b8d41a78754",
        "name": "",
        "collection": "",
        "payonly": false,
        "upsert": false,
        "multi": true,
        "operation": "update",
        "x": 1140,
        "y": 980,
        "wires": []
    },
    {
        "id": "2475e2d9446c7c4f",
        "type": "function",
        "z": "e8c05a40567ab534",
        "name": "Format Response",
        "func": "msg.statusCode = 200;\nmsg.payload = {\n    success: true,\n    message: 'Luminarias enlazadas exitosamente'\n};\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'Access-Control-Allow-Origin': '*'\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1370,
        "y": 980,
        "wires": [
            [
                "830648d63f6f25f8"
            ]
        ]
    },
    {
        "id": "830648d63f6f25f8",
        "type": "http response",
        "z": "e8c05a40567ab534",
        "name": "",
        "x": 1580,
        "y": 980,
        "wires": []
    },
    {
        "id": "0bfb9910f3756999",
        "type": "http in",
        "z": "e8c05a40567ab534",
        "name": "",
        "url": "/api/sectores/:id",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 1040,
        "wires": [
            [
                "d2c90434405bdedf"
            ]
        ]
    },
    {
        "id": "d2c90434405bdedf",
        "type": "function",
        "z": "e8c05a40567ab534",
        "name": "Delete Sector",
        "func": "const sectorId = msg.req.params.id;\n\nmsg.collection = 'sector';\nmsg.query = { _id: sectorId };\n\nflow.set('deleteSectorId', sectorId);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 1040,
        "wires": [
            [
                "656d483189907d87",
                "ea4e41b917037c56"
            ]
        ]
    },
    {
        "id": "656d483189907d87",
        "type": "mongodb out",
        "z": "e8c05a40567ab534",
        "mongodb": "65016b8d41a78754",
        "name": "",
        "collection": "",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 610,
        "y": 1040,
        "wires": []
    },
    {
        "id": "ea4e41b917037c56",
        "type": "function",
        "z": "e8c05a40567ab534",
        "name": "Unlink Luminarias",
        "func": "const sectorId = flow.get('deleteSectorId');\n\nmsg.collection = 'luminarias';\nmsg.query = { id_sector: sectorId };\nmsg.payload = { $set: { id_sector: null } };\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 830,
        "y": 1040,
        "wires": [
            [
                "b91a08d08861533f",
                "4c77b91764a8653d"
            ]
        ]
    },
    {
        "id": "b91a08d08861533f",
        "type": "mongodb out",
        "z": "e8c05a40567ab534",
        "mongodb": "65016b8d41a78754",
        "name": "",
        "collection": "",
        "payonly": false,
        "upsert": false,
        "multi": true,
        "operation": "update",
        "x": 1060,
        "y": 1040,
        "wires": []
    },
    {
        "id": "4c77b91764a8653d",
        "type": "function",
        "z": "e8c05a40567ab534",
        "name": "Format Response",
        "func": "msg.statusCode = 200;\nmsg.payload = {\n    success: true,\n    message: 'Sector eliminado exitosamente'\n};\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'Access-Control-Allow-Origin': '*'\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1290,
        "y": 1040,
        "wires": [
            [
                "706dadc2e7537bff"
            ]
        ]
    },
    {
        "id": "706dadc2e7537bff",
        "type": "http response",
        "z": "e8c05a40567ab534",
        "name": "",
        "x": 1500,
        "y": 1040,
        "wires": []
    },
    {
        "id": "65016b8d41a78754",
        "type": "mongodb",
        "hostname": "cluster0.gne8ies.mongodb.net",
        "topology": "dnscluster",
        "connectOptions": "",
        "port": "27017",
        "db": "LumiCert",
        "name": "MongoDB Atlas"
    },
    {
        "id": "5abd61d32c7b0f6a",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-mongodb": "0.2.5"
        }
    }
]