node-red-API-LumiCert.json
[
    {
        "id": "763063e50cb62a57",
        "type": "tab",
        "label": "LumiCert API",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c0a56a5a40c88ce6",
        "type": "http in",
        "z": "763063e50cb62a57",
        "name": "",
        "url": "/api/consumo/total-mes",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 100,
        "wires": [
            [
                "e2c2a2b6404d8798"
            ]
        ]
    },
    {
        "id": "e2c2a2b6404d8798",
        "type": "function",
        "z": "763063e50cb62a57",
        "name": "Preparar Query",
        "func": "const now = new Date();\nconst year = now.getFullYear();\nconst month = now.getMonth() + 1;\nconst daysInMonth = new Date(year, month, 0).getDate();\nconst currentDay = now.getDate();\n\nflow.set('year', year);\nflow.set('month', month);\nflow.set('daysInMonth', daysInMonth);\nflow.set('currentDay', currentDay);\n\n// Query que maneja fechas con y sin timezone\nmsg.collection = 'medicion';\nmsg.payload = [\n    {\n        $addFields: {\n            fechaNormalizada: {\n                $cond: {\n                    if: { $regexMatch: { input: \"$fecha\", regex: \"Z$\" } },\n                    then: \"$fecha\",\n                    else: { $concat: [\"$fecha\", \"Z\"] }\n                }\n            }\n        }\n    },\n    {\n        $addFields: {\n            fechaDate: { \n                $dateFromString: { \n                    dateString: \"$fechaNormalizada\",\n                    onError: null\n                } \n            }\n        }\n    },\n    {\n        $match: {\n            fechaDate: { $ne: null }\n        }\n    },\n    {\n        $addFields: {\n            mes: { $month: \"$fechaDate\" },\n            anio: { $year: \"$fechaDate\" }\n        }\n    },\n    {\n        $match: {\n            mes: month,\n            anio: year\n        }\n    },\n    {\n        $group: {\n            _id: null,\n            totalConsumo: { $sum: \"$consumo\" },\n            count: { $sum: 1 }\n        }\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 100,
        "wires": [
            [
                "f9789a983f340c45"
            ]
        ]
    },
    {
        "id": "f9789a983f340c45",
        "type": "mongodb in",
        "z": "763063e50cb62a57",
        "mongodb": "65016b8d41a78754",
        "name": "",
        "collection": "",
        "operation": "aggregate",
        "x": 640,
        "y": 100,
        "wires": [
            [
                "a3d24c6637fcde2e"
            ]
        ]
    },
    {
        "id": "a3d24c6637fcde2e",
        "type": "function",
        "z": "763063e50cb62a57",
        "name": "Formatear Respuesta",
        "func": "const year = flow.get('year');\nconst month = flow.get('month');\nconst daysInMonth = flow.get('daysInMonth');\nconst currentDay = flow.get('currentDay');\n\nif (msg.payload && msg.payload.length > 0) {\n    const data = msg.payload[0];\n    const totalConsumo = data.totalConsumo || 0;\n    const promedioMes = totalConsumo / daysInMonth;\n    const promedioDiario = totalConsumo / currentDay;\n    \n    msg.payload = {\n        success: true,\n        data: {\n            consumoTotalMes: parseFloat(totalConsumo.toFixed(3)),\n            consumoPromedioDiario: parseFloat(promedioDiario.toFixed(3)),\n            consumoPromedioMes: parseFloat(promedioMes.toFixed(3)),\n            mes: month,\n            año: year,\n            diasTranscurridos: currentDay,\n            totalDiasMes: daysInMonth,\n            mediciones: data.count\n        }\n    };\n} else {\n    msg.payload = {\n        success: true,\n        data: {\n            consumoTotalMes: 0,\n            consumoPromedioDiario: 0,\n            consumoPromedioMes: 0,\n            mes: month,\n            año: year,\n            diasTranscurridos: currentDay,\n            totalDiasMes: daysInMonth,\n            mediciones: 0\n        }\n    };\n}\n\nmsg.statusCode = 200;\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'Access-Control-Allow-Origin': '*'\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 860,
        "y": 100,
        "wires": [
            [
                "2e214152e0c3eee5"
            ]
        ]
    },
    {
        "id": "2e214152e0c3eee5",
        "type": "http response",
        "z": "763063e50cb62a57",
        "name": "",
        "x": 1090,
        "y": 100,
        "wires": []
    },
    {
        "id": "7c37ad8ca363e250",
        "type": "http in",
        "z": "763063e50cb62a57",
        "name": "",
        "url": "/api/sectores",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 160,
        "wires": [
            [
                "b7bfa88ea563c1a6"
            ]
        ]
    },
    {
        "id": "b7bfa88ea563c1a6",
        "type": "function",
        "z": "763063e50cb62a57",
        "name": "Query Sectores",
        "func": "msg.collection = 'sector';\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 160,
        "wires": [
            [
                "db8520db44804a70"
            ]
        ]
    },
    {
        "id": "db8520db44804a70",
        "type": "mongodb in",
        "z": "763063e50cb62a57",
        "mongodb": "65016b8d41a78754",
        "name": "",
        "collection": "",
        "operation": "find",
        "x": 600,
        "y": 160,
        "wires": [
            [
                "89078854767f3110"
            ]
        ]
    },
    {
        "id": "89078854767f3110",
        "type": "function",
        "z": "763063e50cb62a57",
        "name": "Formatear",
        "func": "msg.payload = {\n    success: true,\n    data: msg.payload || []\n};\n\nmsg.statusCode = 200;\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'Access-Control-Allow-Origin': '*'\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 790,
        "y": 160,
        "wires": [
            [
                "201286263aea61b8"
            ]
        ]
    },
    {
        "id": "201286263aea61b8",
        "type": "http response",
        "z": "763063e50cb62a57",
        "name": "",
        "x": 990,
        "y": 160,
        "wires": []
    },
    {
        "id": "f9bbb3fcd17e0ca5",
        "type": "http in",
        "z": "763063e50cb62a57",
        "name": "",
        "url": "/api/luminarias",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 220,
        "wires": [
            [
                "0dbb4a1cec064a93"
            ]
        ]
    },
    {
        "id": "0dbb4a1cec064a93",
        "type": "function",
        "z": "763063e50cb62a57",
        "name": "Query Luminarias",
        "func": "msg.collection = 'luminarias';\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 220,
        "wires": [
            [
                "6da768667cae132e"
            ]
        ]
    },
    {
        "id": "6da768667cae132e",
        "type": "mongodb in",
        "z": "763063e50cb62a57",
        "mongodb": "65016b8d41a78754",
        "name": "",
        "collection": "",
        "operation": "find",
        "x": 610,
        "y": 220,
        "wires": [
            [
                "c186cec5810cc915"
            ]
        ]
    },
    {
        "id": "c186cec5810cc915",
        "type": "function",
        "z": "763063e50cb62a57",
        "name": "Formatear",
        "func": "msg.payload = {\n    success: true,\n    data: msg.payload || [],\n    total: msg.payload ? msg.payload.length : 0\n};\n\nmsg.statusCode = 200;\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'Access-Control-Allow-Origin': '*'\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 800,
        "y": 220,
        "wires": [
            [
                "cda0591a7187b40d"
            ]
        ]
    },
    {
        "id": "cda0591a7187b40d",
        "type": "http response",
        "z": "763063e50cb62a57",
        "name": "",
        "x": 1010,
        "y": 220,
        "wires": []
    },
    {
        "id": "8d74e86c7c5f412d",
        "type": "http in",
        "z": "763063e50cb62a57",
        "name": "",
        "url": "/api/notificaciones",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 280,
        "wires": [
            [
                "88ce4dba40b1d994"
            ]
        ]
    },
    {
        "id": "88ce4dba40b1d994",
        "type": "function",
        "z": "763063e50cb62a57",
        "name": "Query Notificaciones",
        "func": "msg.collection = 'notificacion';\nmsg.payload = {};\nmsg.limit = 10;\nmsg.sort = { fecha: -1 };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 280,
        "wires": [
            [
                "88a0368380d59815"
            ]
        ]
    },
    {
        "id": "88a0368380d59815",
        "type": "mongodb in",
        "z": "763063e50cb62a57",
        "mongodb": "65016b8d41a78754",
        "name": "",
        "collection": "",
        "operation": "find",
        "x": 660,
        "y": 280,
        "wires": [
            [
                "ecad8ca272d1f0ec"
            ]
        ]
    },
    {
        "id": "ecad8ca272d1f0ec",
        "type": "function",
        "z": "763063e50cb62a57",
        "name": "Formatear",
        "func": "const sortedData = (msg.payload || []).sort((a, b) => {\n    return new Date(b.fecha) - new Date(a.fecha);\n}).slice(0, 10);\n\nmsg.payload = {\n    success: true,\n    data: sortedData\n};\n\nmsg.statusCode = 200;\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'Access-Control-Allow-Origin': '*'\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 830,
        "y": 280,
        "wires": [
            [
                "05a81135badf1979"
            ]
        ]
    },
    {
        "id": "05a81135badf1979",
        "type": "http response",
        "z": "763063e50cb62a57",
        "name": "",
        "x": 1050,
        "y": 280,
        "wires": []
    },
    {
        "id": "99a1e43304354408",
        "type": "http in",
        "z": "763063e50cb62a57",
        "name": "",
        "url": "/api/estadisticas",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 340,
        "wires": [
            [
                "fd3a08f12745f63c"
            ]
        ]
    },
    {
        "id": "fd3a08f12745f63c",
        "type": "function",
        "z": "763063e50cb62a57",
        "name": "Query Estadísticas",
        "func": "// Agregación para obtener última medición de cada luminaria\nmsg.collection = 'medicion';\nmsg.payload = [\n    {\n        $addFields: {\n            fechaNormalizada: {\n                $cond: {\n                    if: { $regexMatch: { input: \"$fecha\", regex: \"Z$\" } },\n                    then: \"$fecha\",\n                    else: { $concat: [\"$fecha\", \"Z\"] }\n                }\n            }\n        }\n    },\n    {\n        $addFields: {\n            fechaDate: { \n                $dateFromString: { \n                    dateString: \"$fechaNormalizada\",\n                    onError: null\n                } \n            }\n        }\n    },\n    {\n        $match: {\n            fechaDate: { $ne: null }\n        }\n    },\n    {\n        $sort: { id_luminaria: 1, fechaDate: -1 }\n    },\n    {\n        $group: {\n            _id: \"$id_luminaria\",\n            ultimaFalla: { $first: \"$falla\" },\n            ultimaFecha: { $first: \"$fechaDate\" }\n        }\n    },\n    {\n        $group: {\n            _id: null,\n            total: { $sum: 1 },\n            conFalla: {\n                $sum: {\n                    $cond: [{ $eq: [\"$ultimaFalla\", true] }, 1, 0]\n                }\n            }\n        }\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 340,
        "wires": [
            [
                "1fbc557ed613e75b"
            ]
        ]
    },
    {
        "id": "1fbc557ed613e75b",
        "type": "mongodb in",
        "z": "763063e50cb62a57",
        "mongodb": "65016b8d41a78754",
        "name": "",
        "collection": "",
        "operation": "aggregate",
        "x": 590,
        "y": 340,
        "wires": [
            [
                "5ae8ec3e09096ce8"
            ]
        ]
    },
    {
        "id": "5ae8ec3e09096ce8",
        "type": "function",
        "z": "763063e50cb62a57",
        "name": "Formatear Estadísticas",
        "func": "let total = 0;\nlet conProblemas = 0;\n\nif (msg.payload && msg.payload.length > 0) {\n    const data = msg.payload[0];\n    total = data.total || 0;\n    conProblemas = data.conFalla || 0;\n}\n\nconst funcionando = total - conProblemas;\n\nmsg.payload = {\n    success: true,\n    data: {\n        totalLuminarias: total,\n        luminariasFuncionando: funcionando,\n        luminariasConProblemas: conProblemas\n    }\n};\n\nmsg.statusCode = 200;\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'Access-Control-Allow-Origin': '*'\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 820,
        "y": 340,
        "wires": [
            [
                "57d1dc668d3de407"
            ]
        ]
    },
    {
        "id": "57d1dc668d3de407",
        "type": "http response",
        "z": "763063e50cb62a57",
        "name": "",
        "x": 1050,
        "y": 340,
        "wires": []
    },
    {
        "id": "0c1777255038df5b",
        "type": "http in",
        "z": "763063e50cb62a57",
        "name": "",
        "url": "/api/consumo/mes-anterior",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 400,
        "wires": [
            [
                "bd683e095a8f6b9a"
            ]
        ]
    },
    {
        "id": "bd683e095a8f6b9a",
        "type": "function",
        "z": "763063e50cb62a57",
        "name": "Query Mes Anterior",
        "func": "const now = new Date();\nconst lastMonth = now.getMonth() === 0 ? 12 : now.getMonth();\nconst lastYear = now.getMonth() === 0 ? now.getFullYear() - 1 : now.getFullYear();\n\nflow.set('lastMonth', lastMonth);\nflow.set('lastYear', lastYear);\n\nmsg.collection = 'medicion';\nmsg.payload = [\n    {\n        $addFields: {\n            fechaNormalizada: {\n                $cond: {\n                    if: { $regexMatch: { input: \"$fecha\", regex: \"Z$\" } },\n                    then: \"$fecha\",\n                    else: { $concat: [\"$fecha\", \"Z\"] }\n                }\n            }\n        }\n    },\n    {\n        $addFields: {\n            fechaDate: { \n                $dateFromString: { \n                    dateString: \"$fechaNormalizada\",\n                    onError: null\n                } \n            }\n        }\n    },\n    {\n        $match: {\n            fechaDate: { $ne: null }\n        }\n    },\n    {\n        $addFields: {\n            mes: { $month: \"$fechaDate\" },\n            anio: { $year: \"$fechaDate\" }\n        }\n    },\n    {\n        $match: {\n            mes: lastMonth,\n            anio: lastYear\n        }\n    },\n    {\n        $group: {\n            _id: null,\n            totalConsumo: { $sum: \"$consumo\" }\n        }\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 400,
        "wires": [
            [
                "ad213da1eb340189"
            ]
        ]
    },
    {
        "id": "ad213da1eb340189",
        "type": "mongodb in",
        "z": "763063e50cb62a57",
        "mongodb": "65016b8d41a78754",
        "name": "",
        "collection": "",
        "operation": "aggregate",
        "x": 680,
        "y": 400,
        "wires": [
            [
                "a1c77c08ca01861d"
            ]
        ]
    },
    {
        "id": "a1c77c08ca01861d",
        "type": "function",
        "z": "763063e50cb62a57",
        "name": "Formatear",
        "func": "const lastMonth = flow.get('lastMonth');\nconst lastYear = flow.get('lastYear');\n\nif (msg.payload && msg.payload.length > 0) {\n    msg.payload = {\n        success: true,\n        data: {\n            consumoMesAnterior: parseFloat(msg.payload[0].totalConsumo.toFixed(3)),\n            mes: lastMonth,\n            año: lastYear\n        }\n    };\n} else {\n    msg.payload = {\n        success: true,\n        data: {\n            consumoMesAnterior: 0,\n            mes: lastMonth,\n            año: lastYear\n        }\n    };\n}\n\nmsg.statusCode = 200;\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'Access-Control-Allow-Origin': '*'\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 850,
        "y": 400,
        "wires": [
            [
                "a46a896c32c928f8"
            ]
        ]
    },
    {
        "id": "a46a896c32c928f8",
        "type": "http response",
        "z": "763063e50cb62a57",
        "name": "",
        "x": 1050,
        "y": 400,
        "wires": []
    },
    {
        "id": "f7d3bd94c3d18d1b",
        "type": "http in",
        "z": "763063e50cb62a57",
        "name": "",
        "url": "/api/*",
        "method": "options",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 460,
        "wires": [
            [
                "253b06ffa17dd51a"
            ]
        ]
    },
    {
        "id": "253b06ffa17dd51a",
        "type": "function",
        "z": "763063e50cb62a57",
        "name": "CORS Headers",
        "func": "msg.statusCode = 200;\nmsg.headers = {\n    'Access-Control-Allow-Origin': '*',\n    'Access-Control-Allow-Methods': 'GET, POST, PUT, DELETE, OPTIONS',\n    'Access-Control-Allow-Headers': 'Content-Type, Authorization'\n};\nmsg.payload = '';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 460,
        "wires": [
            [
                "06ecedeb5c798d30"
            ]
        ]
    },
    {
        "id": "06ecedeb5c798d30",
        "type": "http response",
        "z": "763063e50cb62a57",
        "name": "",
        "x": 650,
        "y": 460,
        "wires": []
    },
    {
        "id": "3820c61819188d18",
        "type": "http in",
        "z": "763063e50cb62a57",
        "name": "",
        "url": "/api/consumo/diario",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 520,
        "wires": [
            [
                "76e19772ba58a9d8"
            ]
        ]
    },
    {
        "id": "76e19772ba58a9d8",
        "type": "function",
        "z": "763063e50cb62a57",
        "name": "Query Consumo Diario",
        "func": "const now = new Date();\nconst year = now.getFullYear();\nconst month = now.getMonth() + 1;\n\nmsg.collection = 'medicion';\nmsg.payload = [\n    {\n        $addFields: {\n            fechaNormalizada: {\n                $cond: {\n                    if: { $regexMatch: { input: \"$fecha\", regex: \"Z$\" } },\n                    then: \"$fecha\",\n                    else: { $concat: [\"$fecha\", \"Z\"] }\n                }\n            }\n        }\n    },\n    {\n        $addFields: {\n            fechaDate: { \n                $dateFromString: { \n                    dateString: \"$fechaNormalizada\",\n                    onError: null\n                } \n            }\n        }\n    },\n    {\n        $match: {\n            fechaDate: { $ne: null }\n        }\n    },\n    {\n        $addFields: {\n            mes: { $month: \"$fechaDate\" },\n            anio: { $year: \"$fechaDate\" },\n            dia: { $dayOfMonth: \"$fechaDate\" }\n        }\n    },\n    {\n        $match: {\n            mes: month,\n            anio: year\n        }\n    },\n    {\n        $group: {\n            _id: \"$dia\",\n            consumoTotal: { $sum: \"$consumo\" }\n        }\n    },\n    {\n        $sort: { _id: 1 }\n    },\n    {\n        $project: {\n            _id: 0,\n            dia: \"$_id\",\n            consumo: { $round: [\"$consumoTotal\", 3] }\n        }\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 520,
        "wires": [
            [
                "bd1c3db73b78784e"
            ]
        ]
    },
    {
        "id": "bd1c3db73b78784e",
        "type": "mongodb in",
        "z": "763063e50cb62a57",
        "mongodb": "65016b8d41a78754",
        "name": "",
        "collection": "",
        "operation": "aggregate",
        "x": 680,
        "y": 520,
        "wires": [
            [
                "35eb8c26a188c814"
            ]
        ]
    },
    {
        "id": "35eb8c26a188c814",
        "type": "function",
        "z": "763063e50cb62a57",
        "name": "Formatear Consumo Diario",
        "func": "msg.payload = {\n    success: true,\n    data: msg.payload || []\n};\n\nmsg.statusCode = 200;\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'Access-Control-Allow-Origin': '*'\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 920,
        "y": 520,
        "wires": [
            [
                "89630b9ce5e831b2"
            ]
        ]
    },
    {
        "id": "89630b9ce5e831b2",
        "type": "http response",
        "z": "763063e50cb62a57",
        "name": "",
        "x": 1130,
        "y": 520,
        "wires": []
    },
    {
        "id": "f13669f50d97f12b",
        "type": "http in",
        "z": "763063e50cb62a57",
        "name": "",
        "url": "/api/consumo/por-hora",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 900,
        "wires": [
            [
                "bc02e8cbd859217b"
            ]
        ]
    },
    {
        "id": "bc02e8cbd859217b",
        "type": "function",
        "z": "763063e50cb62a57",
        "name": "Query Consumo por Hora",
        "func": "msg.collection = 'medicion';\nmsg.payload = [\n    {\n        $addFields: {\n            fechaSplit: { $split: [\"$fecha\", \"T\"] }\n        }\n    },\n    {\n        $addFields: {\n            timePart: { $arrayElemAt: [\"$fechaSplit\", 1] }\n        }\n    },\n    {\n        $addFields: {\n            timeArray: { $split: [\"$timePart\", \":\"] }\n        }\n    },\n    {\n        $addFields: {\n            hora: { $toInt: { $arrayElemAt: [\"$timeArray\", 0] } }\n        }\n    },\n    {\n        $group: {\n            _id: \"$hora\",\n            totalConsumo: { $sum: \"$consumo\" },\n            count: { $sum: 1 }\n        }\n    },\n    {\n        $project: {\n            _id: 0,\n            hora: \"$_id\",\n            consumoPromedio: { $divide: [\"$totalConsumo\", \"$count\"] }\n        }\n    },\n    {\n        $sort: { hora: 1 }\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 900,
        "wires": [
            [
                "fac2576f52d34c48"
            ]
        ]
    },
    {
        "id": "fac2576f52d34c48",
        "type": "mongodb in",
        "z": "763063e50cb62a57",
        "mongodb": "65016b8d41a78754",
        "name": "",
        "collection": "",
        "operation": "aggregate",
        "x": 660,
        "y": 900,
        "wires": [
            [
                "3423e6a4638c4719"
            ]
        ]
    },
    {
        "id": "3423e6a4638c4719",
        "type": "function",
        "z": "763063e50cb62a57",
        "name": "Formatear Respuesta",
        "func": "msg.payload = {\n    success: true,\n    data: msg.payload\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 880,
        "y": 900,
        "wires": [
            [
                "76d0c45217435ed1"
            ]
        ]
    },
    {
        "id": "76d0c45217435ed1",
        "type": "http response",
        "z": "763063e50cb62a57",
        "name": "",
        "statusCode": "200",
        "headers": {
            "Access-Control-Allow-Origin": "*",
            "Content-Type": "application/json"
        },
        "x": 1090,
        "y": 900,
        "wires": []
    },
    {
        "id": "d5de761067436942",
        "type": "http in",
        "z": "763063e50cb62a57",
        "name": "",
        "url": "/api/consumo/por-hora",
        "method": "options",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 960,
        "wires": [
            [
                "5280231071807e56"
            ]
        ]
    },
    {
        "id": "5280231071807e56",
        "type": "http response",
        "z": "763063e50cb62a57",
        "name": "",
        "statusCode": "204",
        "headers": {
            "Access-Control-Allow-Origin": "*",
            "Access-Control-Allow-Methods": "GET, POST, PUT, DELETE, OPTIONS",
            "Access-Control-Allow-Headers": "Content-Type, Authorization"
        },
        "x": 450,
        "y": 960,
        "wires": []
    },
    {
        "id": "76a308d015ad2ae1",
        "type": "http in",
        "z": "763063e50cb62a57",
        "name": "",
        "url": "/api/ultima-medicion",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 1020,
        "wires": [
            [
                "f65a84231c6877bc"
            ]
        ]
    },
    {
        "id": "f65a84231c6877bc",
        "type": "function",
        "z": "763063e50cb62a57",
        "name": "Query Última Medición",
        "func": "msg.collection = 'medicion';\nmsg.payload = [\n    {\n        $addFields: {\n            fechaSplit: { $split: [\"$fecha\", \"T\"] }\n        }\n    },\n    {\n        $addFields: {\n            fechaNormalizada: {\n                $cond: {\n                    if: { $regexMatch: { input: \"$fecha\", regex: \"Z$\" } },\n                    then: \"$fecha\",\n                    else: { $concat: [\"$fecha\", \"Z\"] }\n                }\n            }\n        }\n    },\n    {\n        $addFields: {\n            fechaDate: { \n                $dateFromString: { \n                    dateString: \"$fechaNormalizada\",\n                    onError: null\n                } \n            }\n        }\n    },\n    {\n        $match: {\n            fechaDate: { $ne: null }\n        }\n    },\n    {\n        $sort: { fechaDate: -1 }\n    },\n    {\n        $limit: 1\n    },\n    {\n        $project: {\n            _id: 0,\n            fecha: 1,\n            consumo: 1,\n            estado_rele: 1,\n            perdida_energia: 1,\n            falla: 1,\n            sobreconsumo: 1,\n            corriente: 1,\n            voltaje: 1,\n            id_lum: 1\n        }\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 1020,
        "wires": [
            [
                "2be925ebf3f8fbe7"
            ]
        ]
    },
    {
        "id": "2be925ebf3f8fbe7",
        "type": "mongodb in",
        "z": "763063e50cb62a57",
        "mongodb": "65016b8d41a78754",
        "name": "",
        "collection": "",
        "operation": "aggregate",
        "x": 680,
        "y": 1020,
        "wires": [
            [
                "0f403599d754380a"
            ]
        ]
    },
    {
        "id": "0f403599d754380a",
        "type": "function",
        "z": "763063e50cb62a57",
        "name": "Formatear Respuesta",
        "func": "const medicion = msg.payload[0] || null;\nmsg.payload = {\n    success: true,\n    data: medicion\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 920,
        "y": 1020,
        "wires": [
            [
                "ba595373aa35f3fa"
            ]
        ]
    },
    {
        "id": "ba595373aa35f3fa",
        "type": "http response",
        "z": "763063e50cb62a57",
        "name": "",
        "statusCode": "200",
        "headers": {
            "Access-Control-Allow-Origin": "*",
            "Content-Type": "application/json"
        },
        "x": 1150,
        "y": 1020,
        "wires": []
    },
    {
        "id": "4a31881d37192e3b",
        "type": "http in",
        "z": "763063e50cb62a57",
        "name": "",
        "url": "/api/ultima-medicion",
        "method": "options",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 1080,
        "wires": [
            [
                "e0c5765780d8273a"
            ]
        ]
    },
    {
        "id": "e0c5765780d8273a",
        "type": "http response",
        "z": "763063e50cb62a57",
        "name": "",
        "statusCode": "204",
        "headers": {
            "Access-Control-Allow-Origin": "*",
            "Access-Control-Allow-Methods": "GET, POST, PUT, DELETE, OPTIONS",
            "Access-Control-Allow-Headers": "Content-Type, Authorization"
        },
        "x": 480,
        "y": 1080,
        "wires": []
    },
    {
        "id": "65016b8d41a78754",
        "type": "mongodb",
        "hostname": "cluster0.gne8ies.mongodb.net",
        "topology": "dnscluster",
        "connectOptions": "",
        "port": "27017",
        "db": "LumiCert",
        "name": "MongoDB Atlas"
    },
    {
        "id": "afeb0526466801d3",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-mongodb": "0.2.5"
        }
    }
]